NodeRED backups/nodered-backup-2018-12-16.txt
[{"id":"ad37b19c.6e3cf","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"5ca74b14.4bc484","type":"tab","label":"Doors / Gates","disabled":false,"info":""},{"id":"83be0801.deeb68","type":"tab","label":"Development","disabled":true,"info":""},{"id":"6ce645dd.347edc","type":"tab","label":"Control Logic","disabled":false,"info":""},{"id":"20b58b0f.00b8b4","type":"tab","label":"Remote App","disabled":false,"info":""},{"id":"ded91b28.b9e3a8","type":"tab","label":"Panel","disabled":false,"info":""},{"id":"eaefbe14.0c428","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"87f72b2b.1cabd8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"House Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7089d09e.5eaa5","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"5ecfb5b.c759d4c","type":"ui_group","z":"","name":"Living Room","tab":"7089d09e.5eaa5","order":2,"disp":true,"width":"6","collapse":true},{"id":"fd8635e1.25a568","type":"ui_tab","z":"","name":"Debug","icon":"settings","order":4},{"id":"f03b32a4.4142","type":"ui_tab","z":"","name":"Graphs","icon":"pie_chart","order":3},{"id":"da995fcc.539e7","type":"ui_group","z":"","name":"Graphs","tab":"f03b32a4.4142","disp":true,"width":"10","collapse":false},{"id":"8ccd6141.0bd92","type":"ui_group","z":"","name":"House","tab":"7089d09e.5eaa5","order":1,"disp":true,"width":"6","collapse":true},{"id":"2706f0ba.d3f94","type":"ui_group","z":"","name":"Dominik's Room","tab":"7089d09e.5eaa5","order":4,"disp":true,"width":"6","collapse":true},{"id":"d4e7769f.ea4698","type":"websocket-listener","z":"","path":"/remote/command","wholemsg":"false"},{"id":"3153cc39.9368f4","type":"ui_group","z":"","name":"Who is home","tab":"7089d09e.5eaa5","order":5,"disp":true,"width":"6","collapse":true},{"id":"c67670a7.aae16","type":"ui_group","z":"","name":"Teste","tab":"f5b3c798.dcf6a8","disp":false,"width":"6"},{"id":"f5b3c798.dcf6a8","type":"ui_tab","z":"","name":"LAB","icon":"dashboard"},{"id":"a66a0e7d.a31a4","type":"ui_group","z":"","name":"TEST","tab":"618e7bff.0e92c4","disp":true,"width":"4","collapse":false},{"id":"618e7bff.0e92c4","type":"ui_tab","z":"","name":"GRID","icon":"dashboard"},{"id":"c9090456.25cf88","type":"ui_group","z":"","name":"Living Room","tab":"f03b32a4.4142","disp":true,"width":"6","collapse":false},{"id":"8474ad06.8594","type":"ui_group","z":"","name":"Dominik's Room","tab":"f03b32a4.4142","disp":true,"width":"6","collapse":false},{"id":"c0cb2341.025c6","type":"ui_group","z":"","name":"House","tab":"f03b32a4.4142","disp":true,"width":"6","collapse":false},{"id":"28fd36f7.817cea","type":"ui_group","z":"","name":"Gauge","tab":"f48e3df.c16c5c","order":2,"disp":true,"width":"6"},{"id":"f48e3df.c16c5c","type":"ui_tab","z":"","name":"Restore","icon":"dashboard"},{"id":"6f2503eb.31960c","type":"ui_group","z":"","name":"Dining Room","tab":"7089d09e.5eaa5","order":3,"disp":true,"width":"6","collapse":true},{"id":"9e839501.d81908","type":"mqtt in","z":"ad37b19c.6e3cf","name":"","topic":"switches/livingroom/1","qos":"0","broker":"eaefbe14.0c428","x":140,"y":160,"wires":[["10fe5b12.51c205"]]},{"id":"10fe5b12.51c205","type":"mqtt out","z":"ad37b19c.6e3cf","name":"","topic":"lights/livingroom/1","qos":"0","retain":"true","broker":"eaefbe14.0c428","x":810,"y":160,"wires":[]},{"id":"c256e1a9.06506","type":"ui_switch","z":"ad37b19c.6e3cf","name":"","label":"Light 1","tooltip":"","group":"5ecfb5b.c759d4c","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":510,"y":220,"wires":[["10fe5b12.51c205"]]},{"id":"f3bd13c.00761f","type":"mqtt in","z":"ad37b19c.6e3cf","name":"","topic":"lights/livingroom/1","qos":"0","broker":"eaefbe14.0c428","x":130,"y":220,"wires":[["f7a1e6f6.3feb28","c256e1a9.06506"]]},{"id":"37b3dcd8.ade0b4","type":"mqtt in","z":"ad37b19c.6e3cf","name":"","topic":"lights/livingroom/2","qos":"0","broker":"eaefbe14.0c428","x":130,"y":420,"wires":[["ff8c4dc8.f86bd","a411c84f.e21048"]]},{"id":"ff8c4dc8.f86bd","type":"ui_switch","z":"ad37b19c.6e3cf","name":"","label":"Light 2","tooltip":"","group":"5ecfb5b.c759d4c","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":510,"y":420,"wires":[["4758851f.8787bc"]]},{"id":"4758851f.8787bc","type":"mqtt out","z":"ad37b19c.6e3cf","name":"","topic":"lights/livingroom/2","qos":"0","retain":"true","broker":"eaefbe14.0c428","x":810,"y":360,"wires":[]},{"id":"2bf79897.80bcf8","type":"inject","z":"ad37b19c.6e3cf","name":"Lights off at 1am","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"00 01 * * *","once":false,"onceDelay":0.1,"x":550,"y":60,"wires":[["4758851f.8787bc","10fe5b12.51c205","c90db36b.2a1ff"]]},{"id":"743fed56.ce12f4","type":"mqtt in","z":"ad37b19c.6e3cf","name":"","topic":"switches/livingroom/2","qos":"0","broker":"eaefbe14.0c428","x":140,"y":360,"wires":[["4758851f.8787bc"]]},{"id":"2aa78365.bf2bac","type":"mqtt out","z":"5ca74b14.4bc484","name":"","topic":"lock/door/house","qos":"0","retain":"true","broker":"eaefbe14.0c428","x":820,"y":80,"wires":[]},{"id":"dea86d2b.71bd5","type":"mqtt in","z":"5ca74b14.4bc484","name":"","topic":"switch/door/house","qos":"0","broker":"eaefbe14.0c428","x":130,"y":80,"wires":[["cc22e418.c8b6d8"]]},{"id":"a7594d6f.08a1f","type":"mqtt in","z":"5ca74b14.4bc484","name":"","topic":"lock/door/house","qos":"2","broker":"eaefbe14.0c428","x":120,"y":140,"wires":[["a4fd72fe.f77c5","af5df6ab.2b6768","16a02f87.1eff9"]]},{"id":"a4fd72fe.f77c5","type":"function","z":"5ca74b14.4bc484","name":"save state","func":"global.set(\"house_door_state\",msg.payload);\nif(msg.payload==\"lock\")\n    msg.payload=1;\nelse\n    msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["e0bd2ffb.61e73"]]},{"id":"af5df6ab.2b6768","type":"ui_switch","z":"5ca74b14.4bc484","name":"","label":"House Door","tooltip":"","group":"8ccd6141.0bd92","order":1,"width":"0","height":"0","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"unlock","onvalueType":"str","onicon":"fa-home","oncolor":"green","offvalue":"lock","offvalueType":"str","officon":"fa-home","offcolor":"red","x":610,"y":140,"wires":[["2aa78365.bf2bac"]]},{"id":"cc22e418.c8b6d8","type":"function","z":"5ca74b14.4bc484","name":"toggle","func":"var current = global.get(\"house_door_state\") || \"unlock\";\n    if(current==\"lock\")\n        msg.payload=\"unlock\";\n    else\n        msg.payload=\"lock\";\n    \n\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":80,"wires":[["2aa78365.bf2bac"]]},{"id":"f7a1e6f6.3feb28","type":"function","z":"ad37b19c.6e3cf","name":"Save Light 1","func":"global.set(\"light_livingroom_1\",msg.payload);\nif(msg.payload==\"on\")\n    msg.payload=1;\nelse\n    msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":260,"wires":[["8b3a2ecd.1eb22"]]},{"id":"a411c84f.e21048","type":"function","z":"ad37b19c.6e3cf","name":"Save Light 2","func":"global.set(\"light_livingroom_2\",msg.payload);\nif(msg.payload==\"on\")\n    msg.payload=1;\nelse\n    msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":460,"wires":[["f983e2cf.93acd"]]},{"id":"e0bd2ffb.61e73","type":"ui_chart","z":"5ca74b14.4bc484","name":"Door Locked Stats","group":"c0cb2341.025c6","order":4,"width":"0","height":"0","label":"Door Locked Stats","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"step","nodata":"---waiting---","dot":false,"ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":510,"y":220,"wires":[[],[]]},{"id":"8b3a2ecd.1eb22","type":"ui_chart","z":"ad37b19c.6e3cf","name":"","group":"c9090456.25cf88","order":3,"width":0,"height":0,"label":"Light 1 Stats","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"step","nodata":"---waiting---","dot":false,"ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":520,"y":300,"wires":[[],[]]},{"id":"f983e2cf.93acd","type":"ui_chart","z":"ad37b19c.6e3cf","name":"","group":"c9090456.25cf88","order":4,"width":0,"height":0,"label":"Light 2 Stats","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"step","nodata":"---waiting---","dot":false,"ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":530,"y":500,"wires":[[],[]]},{"id":"84af828d.de823","type":"mqtt in","z":"ad37b19c.6e3cf","name":"","topic":"panel/dominik/btn/1","qos":"0","broker":"eaefbe14.0c428","x":130,"y":660,"wires":[["9cfac877.87daa8"]]},{"id":"c90db36b.2a1ff","type":"mqtt out","z":"ad37b19c.6e3cf","name":"","topic":"lights/dominik/1","qos":"0","retain":"true","broker":"eaefbe14.0c428","x":820,"y":660,"wires":[]},{"id":"90bfcb3d.4fef78","type":"function","z":"ad37b19c.6e3cf","name":"Save Light Dominik","func":"global.set(\"light_dominik\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":780,"wires":[["49f393e9.1e0b3c"]]},{"id":"814303ef.957ff","type":"ui_slider","z":"ad37b19c.6e3cf","name":"","label":"Light 1","tooltip":"","group":"2706f0ba.d3f94","order":1,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"255","step":1,"x":510,"y":720,"wires":[["c90db36b.2a1ff"]]},{"id":"23b1fd5d.5e6112","type":"mqtt in","z":"ad37b19c.6e3cf","name":"","topic":"lights/dominik/1","qos":"0","broker":"eaefbe14.0c428","x":120,"y":760,"wires":[["90bfcb3d.4fef78","814303ef.957ff"]]},{"id":"9cfac877.87daa8","type":"function","z":"ad37b19c.6e3cf","name":"Toggle","func":"var current=global.get(\"light_dominik\") || 0;\nif(current>0)\n    msg.payload=0;\nelse\n    msg.payload=255;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":660,"wires":[["c90db36b.2a1ff"]]},{"id":"7d0e1880.9c78c8","type":"mqtt in","z":"5ca74b14.4bc484","name":"","topic":"panel/dominik/btn/3","qos":"0","broker":"eaefbe14.0c428","x":130,"y":320,"wires":[["59feb9f4.c0ff78"]]},{"id":"88b77d5a.78b1a","type":"function","z":"5ca74b14.4bc484","name":"save state","func":"global.set(\"gate2_state\",msg.payload);\nif(msg.payload==\"close\")\n    msg.payload=1;\nelse\n    msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":420,"wires":[["ab2db142.98838"]]},{"id":"59feb9f4.c0ff78","type":"function","z":"5ca74b14.4bc484","name":"toggle","func":"var current = global.get(\"gate2_state\") || \"open\";\n    if(current==\"close\")\n        msg.payload=\"open\";\n    else\n        msg.payload=\"close\";\n    \n\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":320,"wires":[["ae06e2f8.66341"]]},{"id":"2a221f46.dc051","type":"mqtt out","z":"5ca74b14.4bc484","name":"","topic":"panel/dominik/gate/2","qos":"0","retain":"true","broker":"eaefbe14.0c428","x":940,"y":320,"wires":[]},{"id":"43ef6b66.fa9be4","type":"ui_switch","z":"5ca74b14.4bc484","name":"","label":"Car Gate","tooltip":"","group":"8ccd6141.0bd92","order":2,"width":"0","height":"0","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"open","onvalueType":"str","onicon":"fa-window-minimize","oncolor":"green","offvalue":"close","offvalueType":"str","officon":"fa-window-maximize","offcolor":"red","x":540,"y":380,"wires":[["ae06e2f8.66341"]]},{"id":"faf4f93c.0ef928","type":"mqtt in","z":"5ca74b14.4bc484","name":"","topic":"panel/dominik/gate/2","qos":"0","broker":"eaefbe14.0c428","x":130,"y":380,"wires":[["43ef6b66.fa9be4","88b77d5a.78b1a","1cc9642b.66aa4c"]]},{"id":"320253dd.b5467c","type":"inject","z":"5ca74b14.4bc484","name":"","topic":"","payload":"force","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":260,"wires":[["2a221f46.dc051"]]},{"id":"cc5941c1.8ba58","type":"mqtt out","z":"5ca74b14.4bc484","name":"","topic":"panel/dominik/gate/1","qos":"0","retain":"false","broker":"eaefbe14.0c428","x":800,"y":500,"wires":[]},{"id":"82802809.51db98","type":"ui_button","z":"5ca74b14.4bc484","name":"","group":"8ccd6141.0bd92","order":3,"width":0,"height":0,"passthru":false,"label":"Gate 1","tooltip":"","color":"","bgcolor":"","icon":"forward_10","payload":"push","payloadType":"str","topic":"","x":550,"y":540,"wires":[["cc5941c1.8ba58"]]},{"id":"ea950fd9.9896d","type":"mqtt in","z":"5ca74b14.4bc484","name":"","topic":"panel/dominik/btn/2","qos":"0","broker":"eaefbe14.0c428","x":130,"y":500,"wires":[["cc5941c1.8ba58"]]},{"id":"de3665e9.f34608","type":"mqtt in","z":"6ce645dd.347edc","name":"","topic":"panel/dominik/temperature","qos":"0","broker":"eaefbe14.0c428","x":150,"y":220,"wires":[["8c1b9227.8defd"]]},{"id":"8c1b9227.8defd","type":"ui_chart","z":"6ce645dd.347edc","name":"","group":"8474ad06.8594","order":9,"width":0,"height":0,"label":"Temperature - Dominik","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"---waiting---","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":420,"y":220,"wires":[[],[]]},{"id":"c1e589a2.020b98","type":"http in","z":"20b58b0f.00b8b4","name":"","url":"/remote/command","method":"get","upload":false,"swaggerDoc":"","x":140,"y":300,"wires":[["e4a601e7.df503","51bb8627.0aed78"]]},{"id":"9183ed09.26fec","type":"http response","z":"20b58b0f.00b8b4","name":"Command Response","statusCode":"","headers":{},"x":620,"y":300,"wires":[]},{"id":"e4a601e7.df503","type":"function","z":"20b58b0f.00b8b4","name":"return success","func":"msg.payload=\"Success\"\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":300,"wires":[["9183ed09.26fec"]]},{"id":"ade8e7e1.eaad58","type":"mqtt out","z":"20b58b0f.00b8b4","name":"","topic":"lights/dominik/1","qos":"0","retain":"true","broker":"eaefbe14.0c428","x":680,"y":400,"wires":[]},{"id":"51bb8627.0aed78","type":"switch","z":"20b58b0f.00b8b4","name":"","property":"payload.node","propertyType":"msg","rules":[{"t":"eq","v":"light_dominik","vt":"str"},{"t":"eq","v":"light_livingroom_1","vt":"str"},{"t":"eq","v":"light_livingroom_2","vt":"str"},{"t":"eq","v":"gate1","vt":"str"},{"t":"eq","v":"gate2","vt":"str"},{"t":"eq","v":"door_house","vt":"str"},{"t":"eq","v":"tablet_screen","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":310,"y":420,"wires":[["ac812a.22f07ed8"],["9c08d636.7bde58"],["e2366b0.d34ab98"],["88058bcb.008f48"],["df8dd6af.de9e78"],["63bf844b.cc9f0c"],["a18fa1d2.875de"]]},{"id":"ac812a.22f07ed8","type":"function","z":"20b58b0f.00b8b4","name":"","func":"var pld=msg.payload.action;\nmsg.payload=parseInt(pld);\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":400,"wires":[["ade8e7e1.eaad58"]]},{"id":"9c08d636.7bde58","type":"function","z":"20b58b0f.00b8b4","name":"","func":"var pld=msg.payload.action;\nmsg.payload=pld;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":440,"wires":[["72facdb4.d8c9b4"]]},{"id":"72facdb4.d8c9b4","type":"mqtt out","z":"20b58b0f.00b8b4","name":"","topic":"lights/livingroom/1","qos":"0","retain":"true","broker":"eaefbe14.0c428","x":690,"y":440,"wires":[]},{"id":"e2366b0.d34ab98","type":"function","z":"20b58b0f.00b8b4","name":"","func":"var pld=msg.payload.action;\nmsg.payload=pld;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":480,"wires":[["7bcfcf6a.4c27f"]]},{"id":"7bcfcf6a.4c27f","type":"mqtt out","z":"20b58b0f.00b8b4","name":"","topic":"lights/livingroom/2","qos":"0","retain":"true","broker":"eaefbe14.0c428","x":690,"y":480,"wires":[]},{"id":"88058bcb.008f48","type":"function","z":"20b58b0f.00b8b4","name":"","func":"var pld=msg.payload.action;\nmsg.payload=pld;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":520,"wires":[["570f63.3ee4a09c"]]},{"id":"570f63.3ee4a09c","type":"mqtt out","z":"20b58b0f.00b8b4","name":"","topic":"panel/dominik/gate/1","qos":"0","retain":"false","broker":"eaefbe14.0c428","x":700,"y":520,"wires":[]},{"id":"df8dd6af.de9e78","type":"function","z":"20b58b0f.00b8b4","name":"","func":"var pld=msg.payload.action;\nmsg.payload=pld;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":560,"wires":[["8647fe87.5354c"]]},{"id":"63bf844b.cc9f0c","type":"function","z":"20b58b0f.00b8b4","name":"","func":"var pld=msg.payload.action;\nmsg.payload=pld;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":600,"wires":[["a757a6ce.ba9388"]]},{"id":"a757a6ce.ba9388","type":"mqtt out","z":"20b58b0f.00b8b4","name":"","topic":"lock/door/house","qos":"0","retain":"true","broker":"eaefbe14.0c428","x":680,"y":600,"wires":[]},{"id":"8e44e469.531f08","type":"http in","z":"20b58b0f.00b8b4","name":"","url":"/remote/status","method":"get","upload":false,"swaggerDoc":"","x":130,"y":100,"wires":[["a0665b68.c5f288"]]},{"id":"a0665b68.c5f288","type":"function","z":"20b58b0f.00b8b4","name":"fetch status of all","func":"var status={};\nstatus.light_dominik=global.get(\"light_dominik\")||0;\nstatus.light_livingroom_1=global.get(\"light_livingroom_1\")||\"off\";\nstatus.light_livingroom_2=global.get(\"light_livingroom_2\")||\"off\";\nstatus.house_door_state=global.get(\"house_door_state\")||\"lock\";\nstatus.gate2_state=global.get(\"gate2_state\")||\"close\";\nmsg.payload=status;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":100,"wires":[["d74939e2.cd0248"]]},{"id":"d74939e2.cd0248","type":"http response","z":"20b58b0f.00b8b4","name":"Status Response","statusCode":"","headers":{},"x":610,"y":100,"wires":[]},{"id":"9f6599d.d3c4868","type":"ping","z":"6ce645dd.347edc","name":"PING Dominik","host":"192.168.1.103","timer":"60","x":110,"y":340,"wires":[["9a776cfb.5bc6e"]]},{"id":"9a776cfb.5bc6e","type":"function","z":"6ce645dd.347edc","name":"Change/Save","func":"var lastState=global.get(\"PING_DOMINIK_LAST\")||\"away\";\n\nif(msg.payload===\"update\"){\n    msg.payload=lastState;\n    msg.color=(lastState==\"away\")?\"red\":\"green\";\n    return msg;\n}\n\nvar currentState=(msg.payload===false)?\"away\":\"home\";\nglobal.set(\"PING_DOMINIK_LAST\",currentState);\nif(lastState==currentState)\n    return null;\n    \nmsg.color=(currentState==\"away\")?\"red\":\"green\";   \nmsg.payload=currentState;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":340,"wires":[["86b1f5a7.fa85a8","e43bf525.8594d8","84986f28.a38e3"]]},{"id":"5c9d9870.7af2e8","type":"switch","z":"6ce645dd.347edc","name":"is home?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"away","vt":"str"},{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":440,"wires":[["5fec71b2.443b5"],["f42d0d6b.9ee1c","2e249c35.d5b3b4"]]},{"id":"5fec71b2.443b5","type":"function","z":"6ce645dd.347edc","name":"off(0)","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":420,"wires":[["3fbd00f7.e2241"]]},{"id":"3fbd00f7.e2241","type":"mqtt out","z":"6ce645dd.347edc","name":"","topic":"lights/dominik/1","qos":"0","retain":"true","broker":"eaefbe14.0c428","x":980,"y":420,"wires":[]},{"id":"2e249c35.d5b3b4","type":"function","z":"6ce645dd.347edc","name":"open","func":"msg.payload=\"open\";\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":460,"wires":[["d410c06d.f0cd7"]]},{"id":"f42d0d6b.9ee1c","type":"function","z":"6ce645dd.347edc","name":"unlock","func":"global.set(\"HOUSE_DOOR_STATE_LAST\",global.get(\"house_door_state\"));\nmsg.payload=\"unlock\";\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":500,"wires":[["48361036.e3839"]]},{"id":"42e5a70f.72aea8","type":"delay","z":"6ce645dd.347edc","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":520,"wires":[["7bc1b25e.3fa42c"]]},{"id":"7bc1b25e.3fa42c","type":"function","z":"6ce645dd.347edc","name":"relock","func":"msg.payload=global.get(\"HOUSE_DOOR_STATE_LAST\");\nif(msg.payload==\"unlock\")\n    return null;\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":520,"wires":[["fdda32d0.1e6c6"]]},{"id":"36cc76b9.89180a","type":"link in","z":"6ce645dd.347edc","name":"Everyone Left","links":["c747912b.59ec9"],"x":95,"y":1460,"wires":[["b41091b2.7213"]]},{"id":"b41091b2.7213","type":"delay","z":"6ce645dd.347edc","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":210,"y":1460,"wires":[["6d595da4.bd6144"]]},{"id":"ca61b473.63f5e8","type":"function","z":"6ce645dd.347edc","name":"lock","func":"msg.payload=\"lock\";\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1420,"wires":[["1f9ce627.33f54a"]]},{"id":"1f9ce627.33f54a","type":"mqtt out","z":"6ce645dd.347edc","name":"","topic":"lock/door/house","qos":"0","retain":"true","broker":"eaefbe14.0c428","x":780,"y":1420,"wires":[]},{"id":"aa8ef440.611fd8","type":"mqtt out","z":"6ce645dd.347edc","name":"","topic":"lights/dominik/1","qos":"0","retain":"true","broker":"eaefbe14.0c428","x":780,"y":1460,"wires":[]},{"id":"88326ce8.0c073","type":"function","z":"6ce645dd.347edc","name":"off","func":"msg.payload=\"off\";\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1500,"wires":[["a794790a.aa4d28","6631db63.0b2e34"]]},{"id":"a794790a.aa4d28","type":"mqtt out","z":"6ce645dd.347edc","name":"","topic":"lights/livingroom/1","qos":"0","retain":"true","broker":"eaefbe14.0c428","x":790,"y":1500,"wires":[]},{"id":"6631db63.0b2e34","type":"mqtt out","z":"6ce645dd.347edc","name":"","topic":"lights/livingroom/2","qos":"0","retain":"true","broker":"eaefbe14.0c428","x":790,"y":1540,"wires":[]},{"id":"cfc6d99.823f728","type":"ping","z":"6ce645dd.347edc","name":"PING Igor","host":"192.168.1.101","timer":"60","x":100,"y":740,"wires":[["b7b5a873.5a7b68"]]},{"id":"b7b5a873.5a7b68","type":"function","z":"6ce645dd.347edc","name":"Change/Save","func":"var lastState=global.get(\"PING_IGOR_LAST\")||\"away\";\n\nif(msg.payload===\"update\"){\n    msg.payload=lastState;\n    msg.color=(lastState==\"away\")?\"red\":\"green\";  \n    return msg;\n}\n    \nvar currentState=(msg.payload===false)?\"away\":\"home\";\nglobal.set(\"PING_IGOR_LAST\",currentState);\nif(lastState==currentState)\n    return null;\n    \nmsg.color=(currentState==\"away\")?\"red\":\"green\";  \nmsg.payload=currentState;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":740,"wires":[["b15c63e.b3123a","e5bef279.d46b","3df60691.87ffba"]]},{"id":"98d591a.de87d7","type":"ping","z":"6ce645dd.347edc","name":"PING Kristina","host":"192.168.1.102","timer":"60","x":110,"y":860,"wires":[["fb0a155d.be0b78"]]},{"id":"fb0a155d.be0b78","type":"function","z":"6ce645dd.347edc","name":"Change/Save","func":"var lastState=global.get(\"PING_KRISTINA_LAST\")||\"away\";\n\nif(msg.payload===\"update\"){\n    msg.color=(lastState==\"away\")?\"red\":\"green\";  \n    msg.payload=lastState;\n    return msg;\n}\n\nvar currentState=(msg.payload===false)?\"away\":\"home\";\nglobal.set(\"PING_KRISTINA_LAST\",currentState);\nif(lastState==currentState)\n    return null;\nmsg.color=(currentState==\"away\")?\"red\":\"green\";     \nmsg.payload=currentState;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":860,"wires":[["751c6447.1531ec","e56db74b.468c48","682b1794.fab9a8"]]},{"id":"315ff988.803976","type":"ping","z":"6ce645dd.347edc","name":"PING Marko","host":"192.168.1.104","timer":"60","x":110,"y":980,"wires":[["43ccf9d.ce4ff08"]]},{"id":"43ccf9d.ce4ff08","type":"function","z":"6ce645dd.347edc","name":"Change/Save","func":"var lastState=global.get(\"PING_MARKO_LAST\")||\"away\";\n\nif(msg.payload===\"update\"){\n    msg.color=(lastState==\"away\")?\"red\":\"green\";  \n    msg.payload=lastState;\n    return msg;\n}\n\nvar currentState=(msg.payload===false)?\"away\":\"home\";\nglobal.set(\"PING_MARKO_LAST\",currentState);\nif(lastState==currentState)\n    return null;\n    \nmsg.color=(currentState==\"away\")?\"red\":\"green\";  \nmsg.payload=currentState;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":980,"wires":[["15642fce.7e2b8","b12d775f.e78458","98ca6ae.107d798"]]},{"id":"89659578.840e08","type":"ping","z":"6ce645dd.347edc","name":"PING Hrvoje","host":"192.168.1.105","timer":"60","x":110,"y":1100,"wires":[["77174bf5.2597e4"]]},{"id":"77174bf5.2597e4","type":"function","z":"6ce645dd.347edc","name":"Change/Save","func":"var lastState=global.get(\"PING_HRVOJE_LAST\")||\"away\";\n\nif(msg.payload===\"update\"){\n    msg.color=(lastState==\"away\")?\"red\":\"green\";  \n    msg.payload=lastState;\n    return msg;\n}\n\nvar currentState=(msg.payload===false)?\"away\":\"home\";\nglobal.set(\"PING_HRVOJE_LAST\",currentState);\nif(lastState==currentState)\n    return null;\n\nmsg.color=(currentState==\"away\")?\"red\":\"green\";      \nmsg.payload=currentState;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1100,"wires":[["7852f2f0.8510cc","70dce9ab.180548","e6b6b97d.7e0378"]]},{"id":"be7e8f4.6b7607","type":"function","z":"6ce645dd.347edc","name":"Everyone Away","func":"if((global.get(\"PING_IGOR_LAST\")||\"home\")==\"away\"&&(global.get(\"PING_KRISTINA_LAST\")||\"home\")==\"away\"&&(global.get(\"PING_DOMINIK_LAST\")||\"home\")==\"away\"&&(global.get(\"PING_MARKO_LAST\")|\"home\")==\"away\"&&(global.get(\"PING_HRVOJE_LAST\")||\"home\")==\"away\"){\n    return msg;\n} else{\n    return null;\n}\n\n","outputs":1,"noerr":0,"x":1020,"y":920,"wires":[["c747912b.59ec9","c3bfd1c2.950f4"]]},{"id":"c747912b.59ec9","type":"link out","z":"6ce645dd.347edc","name":"Everyone Left","links":["36cc76b9.89180a"],"x":1235,"y":920,"wires":[]},{"id":"acc75c79.7d8de","type":"function","z":"6ce645dd.347edc","name":"off(0)","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1460,"wires":[["aa8ef440.611fd8"]]},{"id":"d8ca4b67.eb2718","type":"switch","z":"6ce645dd.347edc","name":"is home?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"away","vt":"str"},{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":740,"wires":[["be7e8f4.6b7607"],[]]},{"id":"108e1f3e.726c41","type":"switch","z":"6ce645dd.347edc","name":"is home?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"away","vt":"str"},{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":860,"wires":[["be7e8f4.6b7607"],[]]},{"id":"8220a2db.d037d","type":"switch","z":"6ce645dd.347edc","name":"is home?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"away","vt":"str"},{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":980,"wires":[["be7e8f4.6b7607"],[]]},{"id":"5477958e.5e4a9c","type":"switch","z":"6ce645dd.347edc","name":"is home?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"away","vt":"str"},{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":1100,"wires":[["be7e8f4.6b7607"],[]]},{"id":"c3bfd1c2.950f4","type":"debug","z":"6ce645dd.347edc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1290,"y":980,"wires":[]},{"id":"88c4c1f7.22eca","type":"function","z":"6ce645dd.347edc","name":"close","func":"msg.payload=\"close\";\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1580,"wires":[["d89a5b74.226ae8"]]},{"id":"6d595da4.bd6144","type":"function","z":"6ce645dd.347edc","name":"Everyone Still Away","func":"if((global.get(\"PING_IGOR_LAST\")||\"home\")==\"away\"&&(global.get(\"PING_KRISTINA_LAST\")||\"home\")==\"away\"&&(global.get(\"PING_DOMINIK_LAST\")||\"home\")==\"away\"&&(global.get(\"PING_MARKO_LAST\")|\"home\")==\"away\"&&(global.get(\"PING_HRVOJE_LAST\")||\"home\")==\"away\"){\n    return msg;\n} else{\n    return null;\n}\n\n","outputs":1,"noerr":0,"x":390,"y":1460,"wires":[["ca61b473.63f5e8","acc75c79.7d8de","88326ce8.0c073","88c4c1f7.22eca"]]},{"id":"fdda32d0.1e6c6","type":"debug","z":"6ce645dd.347edc","name":"unlock debuck","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1420,"y":500,"wires":[]},{"id":"ae06e2f8.66341","type":"delay","z":"5ca74b14.4bc484","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":720,"y":320,"wires":[["2a221f46.dc051"]]},{"id":"2276e85d.a2af08","type":"link in","z":"5ca74b14.4bc484","name":"Gate 2","links":["d89a5b74.226ae8","47ede0d2.80fbd","8647fe87.5354c"],"x":575,"y":280,"wires":[["ae06e2f8.66341"]]},{"id":"d89a5b74.226ae8","type":"link out","z":"6ce645dd.347edc","name":"Gate 2 REL2","links":["2276e85d.a2af08"],"x":760,"y":1580,"wires":[]},{"id":"b15c63e.b3123a","type":"ui_text","z":"6ce645dd.347edc","group":"3153cc39.9368f4","order":2,"width":0,"height":0,"name":"","label":"Igor","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","x":490,"y":780,"wires":[]},{"id":"100ce805.ae40d8","type":"inject","z":"6ce645dd.347edc","name":"Manual update","topic":"","payload":"update","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":640,"wires":[["b7b5a873.5a7b68","9a776cfb.5bc6e","fb0a155d.be0b78","43ccf9d.ce4ff08","77174bf5.2597e4"]]},{"id":"751c6447.1531ec","type":"ui_text","z":"6ce645dd.347edc","group":"3153cc39.9368f4","order":3,"width":0,"height":0,"name":"","label":"Kristina","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","x":500,"y":900,"wires":[]},{"id":"86b1f5a7.fa85a8","type":"ui_text","z":"6ce645dd.347edc","group":"3153cc39.9368f4","order":1,"width":0,"height":0,"name":"","label":"Dominik","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","x":500,"y":320,"wires":[]},{"id":"15642fce.7e2b8","type":"ui_text","z":"6ce645dd.347edc","group":"3153cc39.9368f4","order":4,"width":0,"height":0,"name":"","label":"Marko","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","x":490,"y":1020,"wires":[]},{"id":"7852f2f0.8510cc","type":"ui_text","z":"6ce645dd.347edc","group":"3153cc39.9368f4","order":5,"width":0,"height":0,"name":"","label":"Hrvoje","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","x":490,"y":1140,"wires":[]},{"id":"d410c06d.f0cd7","type":"delay","z":"6ce645dd.347edc","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":980,"y":460,"wires":[["47ede0d2.80fbd"]]},{"id":"48361036.e3839","type":"delay","z":"6ce645dd.347edc","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":980,"y":500,"wires":[["fdda32d0.1e6c6","42e5a70f.72aea8"]]},{"id":"e5bef279.d46b","type":"delay","z":"6ce645dd.347edc","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":740,"wires":[["d8ca4b67.eb2718"]]},{"id":"e56db74b.468c48","type":"delay","z":"6ce645dd.347edc","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":860,"wires":[["108e1f3e.726c41"]]},{"id":"b12d775f.e78458","type":"delay","z":"6ce645dd.347edc","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":980,"wires":[["8220a2db.d037d"]]},{"id":"70dce9ab.180548","type":"delay","z":"6ce645dd.347edc","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":1100,"wires":[["5477958e.5e4a9c"]]},{"id":"e43bf525.8594d8","type":"delay","z":"6ce645dd.347edc","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":380,"wires":[["5c9d9870.7af2e8"]]},{"id":"79df3d45.57d7d4","type":"mqtt in","z":"ad37b19c.6e3cf","name":"Light pot","topic":"panel/dominik/pot/6","qos":"0","broker":"eaefbe14.0c428","x":100,"y":600,"wires":[["d24255.08d7ada8"]]},{"id":"d24255.08d7ada8","type":"function","z":"ad37b19c.6e3cf","name":"Map pot","func":"msg.payload=parseInt((1023-msg.payload)*255/1023);\nif(msg.payload<3)msg.payload=0;\nif(msg.payload>252)msg.payload=255;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":600,"wires":[["c90db36b.2a1ff"]]},{"id":"e42ac9b.c893738","type":"function","z":"ad37b19c.6e3cf","name":"Map pot","func":"msg.payload=parseInt((1023-msg.payload)*255/1023);\nif(msg.payload<3)msg.payload=0;\nif(msg.payload>252)msg.payload=255;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":860,"wires":[["5a928045.08c2"]]},{"id":"f10c8084.866ec","type":"function","z":"ad37b19c.6e3cf","name":"Map pot","func":"msg.payload=parseInt((1023-msg.payload)*255/1023);\nif(msg.payload<3)msg.payload=0;\nif(msg.payload>252)msg.payload=255;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":960,"wires":[["e246d96c.6386a8"]]},{"id":"d601b452.c9cde8","type":"function","z":"ad37b19c.6e3cf","name":"Map pot","func":"msg.payload=parseInt((1023-msg.payload)*255/1023);\nif(msg.payload<3)msg.payload=0;\nif(msg.payload>252)msg.payload=255;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1060,"wires":[["34c3b2a3.b5094e"]]},{"id":"11ab7214.3fed5e","type":"mqtt in","z":"ad37b19c.6e3cf","name":"Red pot","topic":"panel/dominik/pot/3","qos":"0","broker":"eaefbe14.0c428","x":90,"y":860,"wires":[["e42ac9b.c893738"]]},{"id":"fb41f27f.9a5e1","type":"mqtt in","z":"ad37b19c.6e3cf","name":"Green pot","topic":"panel/dominik/pot/4","qos":"0","broker":"eaefbe14.0c428","x":100,"y":960,"wires":[["f10c8084.866ec"]]},{"id":"85245ee0.18339","type":"mqtt in","z":"ad37b19c.6e3cf","name":"Blue pot","topic":"panel/dominik/pot/5","qos":"0","broker":"eaefbe14.0c428","x":100,"y":1060,"wires":[["d601b452.c9cde8"]]},{"id":"5a928045.08c2","type":"mqtt out","z":"ad37b19c.6e3cf","name":"","topic":"panel/dominik/rgb/red","qos":"0","retain":"true","broker":"eaefbe14.0c428","x":800,"y":860,"wires":[]},{"id":"e246d96c.6386a8","type":"mqtt out","z":"ad37b19c.6e3cf","name":"","topic":"panel/dominik/rgb/green","qos":"0","retain":"true","broker":"eaefbe14.0c428","x":810,"y":960,"wires":[]},{"id":"34c3b2a3.b5094e","type":"mqtt out","z":"ad37b19c.6e3cf","name":"","topic":"panel/dominik/rgb/blue","qos":"0","retain":"true","broker":"eaefbe14.0c428","x":800,"y":1060,"wires":[]},{"id":"8a1a7043.21d41","type":"ui_slider","z":"ad37b19c.6e3cf","name":"","label":"RGB Blue","tooltip":"","group":"2706f0ba.d3f94","order":4,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"255","step":1,"x":520,"y":1100,"wires":[["34c3b2a3.b5094e"]]},{"id":"d7b60a9a.291218","type":"ui_slider","z":"ad37b19c.6e3cf","name":"","label":"RGB Green","tooltip":"","group":"2706f0ba.d3f94","order":3,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"255","step":1,"x":530,"y":1000,"wires":[["e246d96c.6386a8"]]},{"id":"7cf9d809.f7aac8","type":"ui_slider","z":"ad37b19c.6e3cf","name":"","label":"RGB Red","tooltip":"","group":"2706f0ba.d3f94","order":2,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"255","step":1,"x":520,"y":900,"wires":[["5a928045.08c2"]]},{"id":"6e6f8a1e.809db4","type":"mqtt in","z":"ad37b19c.6e3cf","name":"","topic":"panel/dominik/rgb/red","qos":"0","broker":"eaefbe14.0c428","x":140,"y":900,"wires":[["7cf9d809.f7aac8"]]},{"id":"24f80943.442766","type":"mqtt in","z":"ad37b19c.6e3cf","name":"","topic":"panel/dominik/rgb/green","qos":"0","broker":"eaefbe14.0c428","x":140,"y":1000,"wires":[["d7b60a9a.291218"]]},{"id":"d00e8903.767f68","type":"mqtt in","z":"ad37b19c.6e3cf","name":"","topic":"panel/dominik/rgb/blue","qos":"0","broker":"eaefbe14.0c428","x":140,"y":1100,"wires":[["8a1a7043.21d41"]]},{"id":"c0545fd8.665e6","type":"inject","z":"83be0801.deeb68","name":"","topic":"","payload":"TEST","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":60,"wires":[["fc619523.478b88"]]},{"id":"fc619523.478b88","type":"mqtt out","z":"83be0801.deeb68","name":"","topic":"panel/dominik/lcd","qos":"0","retain":"false","broker":"eaefbe14.0c428","x":440,"y":60,"wires":[]},{"id":"fcc0af17.2cdb5","type":"ui_text_input","z":"83be0801.deeb68","name":"","label":"","tooltip":"","group":"8ccd6141.0bd92","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":120,"y":120,"wires":[["fc619523.478b88"]]},{"id":"47ede0d2.80fbd","type":"link out","z":"6ce645dd.347edc","name":"Gate 2 REL1","links":["2276e85d.a2af08"],"x":1155,"y":460,"wires":[]},{"id":"8647fe87.5354c","type":"link out","z":"20b58b0f.00b8b4","name":"Gate 2 REL APP","links":["2276e85d.a2af08"],"x":615,"y":560,"wires":[]},{"id":"de9672b4.e539c","type":"link in","z":"ad37b19c.6e3cf","name":"RGB Red","links":["1ecffd10.6c9ec3","159786fa.2410f9"],"x":675,"y":840,"wires":[["5a928045.08c2"]]},{"id":"ac59f563.6fb508","type":"link in","z":"ad37b19c.6e3cf","name":"RGB Green","links":["f7a2a1dd.89537","2d748b39.997644"],"x":675,"y":940,"wires":[["e246d96c.6386a8"]]},{"id":"73e419d4.0e8ff8","type":"link in","z":"ad37b19c.6e3cf","name":"RGB Blue","links":["6928859d.b948cc","e613dce6.339a5"],"x":675,"y":1040,"wires":[["34c3b2a3.b5094e"]]},{"id":"d9105f5a.f2c38","type":"ui_colour_picker","z":"83be0801.deeb68","name":"","label":"","group":"2706f0ba.d3f94","format":"rgb","outformat":"string","showSwatch":false,"showPicker":true,"showValue":false,"showHue":true,"showAlpha":false,"showLightness":true,"dynOutput":"false","order":5,"width":"0","height":"0","passthru":true,"topic":"","x":150,"y":340,"wires":[["dcd1e176.3e4f3"]]},{"id":"dcd1e176.3e4f3","type":"function","z":"83be0801.deeb68","name":"extract rgb","func":"// pull the r, g, b string values out\nvar rgb = msg.payload.match(/(\\d+)/gi);\n\n// convert each value to a percentage\nvar pwm = rgb.map(h => Math.round(100*h/255));\n\n// return an object with named properties\nmsg.payload = {\n    r: pwm[0],\n    g: pwm[1],\n    b: pwm[2]\n}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":420,"wires":[["b5da8760.809ca8","a4802009.f6634","b86bca63.85df78"]]},{"id":"b5da8760.809ca8","type":"change","z":"83be0801.deeb68","name":"red","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.r","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":400,"wires":[["159786fa.2410f9"]]},{"id":"159786fa.2410f9","type":"link out","z":"83be0801.deeb68","name":"Color Picker Red","links":["de9672b4.e539c"],"x":690,"y":400,"wires":[]},{"id":"a4802009.f6634","type":"change","z":"83be0801.deeb68","name":"green","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.g","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":440,"wires":[["2d748b39.997644"]]},{"id":"2d748b39.997644","type":"link out","z":"83be0801.deeb68","name":"Color Picker Green","links":["ac59f563.6fb508"],"x":690,"y":440,"wires":[]},{"id":"b86bca63.85df78","type":"change","z":"83be0801.deeb68","name":"blue","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.r","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":480,"wires":[["e613dce6.339a5"]]},{"id":"e613dce6.339a5","type":"link out","z":"83be0801.deeb68","name":"Color Picker Blue","links":["73e419d4.0e8ff8"],"x":690,"y":480,"wires":[]},{"id":"8f040c9e.9e955","type":"mqtt out","z":"5ca74b14.4bc484","name":"","topic":"lock/door/dominik","qos":"","retain":"false","broker":"eaefbe14.0c428","x":820,"y":880,"wires":[]},{"id":"13583f0.fb340c1","type":"ui_button","z":"5ca74b14.4bc484","name":"","group":"2706f0ba.d3f94","order":6,"width":"3","height":"1","passthru":false,"label":"Lock Door","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lock","payloadType":"str","topic":"","x":490,"y":940,"wires":[["8f040c9e.9e955"]]},{"id":"1df46fb9.66ad5","type":"ui_button","z":"5ca74b14.4bc484","name":"","group":"2706f0ba.d3f94","order":7,"width":"3","height":"1","passthru":false,"label":"Unlock Door","tooltip":"","color":"","bgcolor":"","icon":"","payload":"unlock","payloadType":"str","topic":"","x":490,"y":980,"wires":[["8f040c9e.9e955"]]},{"id":"7a095010.f8d15","type":"comment","z":"ded91b28.b9e3a8","name":"Status Lights","info":"","x":130,"y":60,"wires":[]},{"id":"ad7d5216.e1eef","type":"mqtt out","z":"ded91b28.b9e3a8","name":"","topic":"panel/dominik/led/L1","qos":"0","retain":"false","broker":"eaefbe14.0c428","x":840,"y":140,"wires":[]},{"id":"bfb25f8c.2e36b","type":"mqtt out","z":"ded91b28.b9e3a8","name":"","topic":"panel/dominik/led/L2","qos":"0","retain":"false","broker":"eaefbe14.0c428","x":840,"y":180,"wires":[]},{"id":"888c8b93.8f8da8","type":"mqtt out","z":"ded91b28.b9e3a8","name":"","topic":"panel/dominik/led/L3","qos":"0","retain":"false","broker":"eaefbe14.0c428","x":840,"y":220,"wires":[]},{"id":"d6d6a2fa.478ea","type":"mqtt out","z":"ded91b28.b9e3a8","name":"","topic":"panel/dominik/led/L4","qos":"0","retain":"false","broker":"eaefbe14.0c428","x":840,"y":260,"wires":[]},{"id":"8bd738fd.1d8678","type":"mqtt out","z":"ded91b28.b9e3a8","name":"","topic":"panel/dominik/led/L5","qos":"0","retain":"false","broker":"eaefbe14.0c428","x":840,"y":300,"wires":[]},{"id":"a753fbb5.892cf8","type":"mqtt out","z":"ded91b28.b9e3a8","name":"","topic":"panel/dominik/led/R1","qos":"0","retain":"false","broker":"eaefbe14.0c428","x":840,"y":380,"wires":[]},{"id":"7ad4e097.e0ab8","type":"mqtt out","z":"ded91b28.b9e3a8","name":"","topic":"panel/dominik/led/R2","qos":"0","retain":"false","broker":"eaefbe14.0c428","x":840,"y":420,"wires":[]},{"id":"e3a3d67c.65a328","type":"mqtt out","z":"ded91b28.b9e3a8","name":"","topic":"panel/dominik/led/R3","qos":"0","retain":"false","broker":"eaefbe14.0c428","x":840,"y":460,"wires":[]},{"id":"198bb902.dffb17","type":"mqtt out","z":"ded91b28.b9e3a8","name":"","topic":"panel/dominik/led/R4","qos":"0","retain":"false","broker":"eaefbe14.0c428","x":840,"y":500,"wires":[]},{"id":"d3f09e53.dd27d","type":"mqtt out","z":"ded91b28.b9e3a8","name":"","topic":"panel/dominik/led/R5","qos":"0","retain":"false","broker":"eaefbe14.0c428","x":840,"y":540,"wires":[]},{"id":"52e02b3.c2dc1d4","type":"link in","z":"ded91b28.b9e3a8","name":"LED L1","links":["659879bd.328a28","2785b93.dcff146"],"x":155,"y":140,"wires":[["39e65ba3.91a1b4"]]},{"id":"a0d0548b.beebc8","type":"link in","z":"ded91b28.b9e3a8","name":"LED L2","links":["76d74261.6afd7c"],"x":155,"y":180,"wires":[["b6c91a9d.c9b0d8"]]},{"id":"392352f3.9d5c0e","type":"link in","z":"ded91b28.b9e3a8","name":"LED L3","links":[],"x":155,"y":220,"wires":[["b32e7c78.4fc77"]]},{"id":"ef6f62ed.48e16","type":"link in","z":"ded91b28.b9e3a8","name":"LED L4","links":[],"x":155,"y":260,"wires":[["83e6a30c.7fa7c"]]},{"id":"d1a76010.04ceb","type":"link in","z":"ded91b28.b9e3a8","name":"LED L5","links":[],"x":155,"y":300,"wires":[["6eec62bc.da5eac"]]},{"id":"80870598.e49b88","type":"link in","z":"ded91b28.b9e3a8","name":"LED R1","links":["479affed.2d902"],"x":155,"y":380,"wires":[["5619c013.6dd33"]]},{"id":"9d05f3e4.bfb56","type":"link in","z":"ded91b28.b9e3a8","name":"LED R2","links":["3147107.fbad8f"],"x":155,"y":420,"wires":[["76438f75.30e58"]]},{"id":"5f51ec86.46d644","type":"link in","z":"ded91b28.b9e3a8","name":"LED R3","links":["8d64f5e6.8aeb28"],"x":155,"y":460,"wires":[["2d4bcdda.31e462"]]},{"id":"7d095d7f.3d3ce4","type":"link in","z":"ded91b28.b9e3a8","name":"LED R4","links":["372a9ba5.92ec34"],"x":155,"y":500,"wires":[["f72d2a9.e6083d8"]]},{"id":"efb0e5a.3862118","type":"link in","z":"ded91b28.b9e3a8","name":"LED R5","links":["51886edf.0b109"],"x":155,"y":540,"wires":[["296cea17.825c06"]]},{"id":"3147107.fbad8f","type":"link out","z":"6ce645dd.347edc","name":"Igor Home","links":["9d05f3e4.bfb56"],"x":615,"y":820,"wires":[]},{"id":"3df60691.87ffba","type":"function","z":"6ce645dd.347edc","name":"to onoff","func":"if(msg.payload===\"away\")\n    msg.payload=\"off\";\nelse\n    msg.payload=\"on\";\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":820,"wires":[["3147107.fbad8f"]]},{"id":"8d64f5e6.8aeb28","type":"link out","z":"6ce645dd.347edc","name":"Kristina Home","links":["5f51ec86.46d644"],"x":615,"y":940,"wires":[]},{"id":"682b1794.fab9a8","type":"function","z":"6ce645dd.347edc","name":"to onoff","func":"if(msg.payload===\"away\")\n    msg.payload=\"off\";\nelse\n    msg.payload=\"on\";\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":940,"wires":[["8d64f5e6.8aeb28"]]},{"id":"372a9ba5.92ec34","type":"link out","z":"6ce645dd.347edc","name":"Marko Home","links":["7d095d7f.3d3ce4"],"x":615,"y":1060,"wires":[]},{"id":"98ca6ae.107d798","type":"function","z":"6ce645dd.347edc","name":"to onoff","func":"if(msg.payload===\"away\")\n    msg.payload=\"off\";\nelse\n    msg.payload=\"on\";\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1060,"wires":[["372a9ba5.92ec34"]]},{"id":"51886edf.0b109","type":"link out","z":"6ce645dd.347edc","name":"Hrvoje Home","links":["efb0e5a.3862118"],"x":615,"y":1180,"wires":[]},{"id":"e6b6b97d.7e0378","type":"function","z":"6ce645dd.347edc","name":"to onoff","func":"if(msg.payload===\"away\")\n    msg.payload=\"off\";\nelse\n    msg.payload=\"on\";\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1180,"wires":[["51886edf.0b109"]]},{"id":"479affed.2d902","type":"link out","z":"6ce645dd.347edc","name":"Dominik Home","links":["80870598.e49b88"],"x":615,"y":280,"wires":[]},{"id":"84986f28.a38e3","type":"function","z":"6ce645dd.347edc","name":"to onoff","func":"if(msg.payload===\"away\")\n    msg.payload=\"off\";\nelse\n    msg.payload=\"on\";\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":280,"wires":[["479affed.2d902"]]},{"id":"74d2a2bc.53a73c","type":"mqtt in","z":"ded91b28.b9e3a8","name":"","topic":"panel/dominik/sw/1","qos":"0","broker":"eaefbe14.0c428","x":130,"y":840,"wires":[["54cd4b72.5e96a4"]]},{"id":"9c203dcf.2bcf9","type":"function","z":"ded91b28.b9e3a8","name":"","func":"global.set(\"ENABLE_LEDS\",msg.payload);\nif(msg.payload===\"on\")\n    msg.payload=\"update\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":840,"wires":[["5619c013.6dd33","76438f75.30e58","2d4bcdda.31e462","f72d2a9.e6083d8","296cea17.825c06","39e65ba3.91a1b4","b6c91a9d.c9b0d8","b32e7c78.4fc77","83e6a30c.7fa7c","6eec62bc.da5eac"]]},{"id":"5619c013.6dd33","type":"function","z":"ded91b28.b9e3a8","name":"if enabled","func":"var isEnabled=global.get(\"ENABLE_LEDS\"||\"on\");\nif(isEnabled===\"off\")\n    msg.payload=\"off\";\n\nif(msg.payload==\"update\")\n    msg.payload=(global.get(\"PING_DOMINIK_LAST\")===\"away\"?\"off\":\"on\");\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":380,"wires":[["a753fbb5.892cf8"]]},{"id":"54cd4b72.5e96a4","type":"ui_switch","z":"ded91b28.b9e3a8","name":"","label":"Enable Status LEDs","tooltip":"","group":"2706f0ba.d3f94","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":360,"y":840,"wires":[["9c203dcf.2bcf9"]]},{"id":"76438f75.30e58","type":"function","z":"ded91b28.b9e3a8","name":"if enabled","func":"var isEnabled=global.get(\"ENABLE_LEDS\"||\"on\");\nif(isEnabled===\"off\")\n    msg.payload=\"off\";\n    \nif(msg.payload==\"update\")\n    msg.payload=(global.get(\"PING_IGOR_LAST\")===\"away\"?\"off\":\"on\");\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":420,"wires":[["7ad4e097.e0ab8"]]},{"id":"2d4bcdda.31e462","type":"function","z":"ded91b28.b9e3a8","name":"if enabled","func":"var isEnabled=global.get(\"ENABLE_LEDS\"||\"on\");\nif(isEnabled===\"off\")\n    msg.payload=\"off\";\n    \nif(msg.payload==\"update\")\n    msg.payload=(global.get(\"PING_KRISTINA_LAST\")===\"away\"?\"off\":\"on\");\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":460,"wires":[["e3a3d67c.65a328"]]},{"id":"f72d2a9.e6083d8","type":"function","z":"ded91b28.b9e3a8","name":"if enabled","func":"var isEnabled=global.get(\"ENABLE_LEDS\"||\"on\");\nif(isEnabled===\"off\")\n    msg.payload=\"off\";\n    \nif(msg.payload==\"update\")\n    msg.payload=(global.get(\"PING_MARKO_LAST\")===\"away\"?\"off\":\"on\");\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":500,"wires":[["198bb902.dffb17"]]},{"id":"296cea17.825c06","type":"function","z":"ded91b28.b9e3a8","name":"if enabled","func":"var isEnabled=global.get(\"ENABLE_LEDS\"||\"on\");\nif(isEnabled===\"off\")\n    msg.payload=\"off\";\n\nif(msg.payload==\"update\")\n    msg.payload=(global.get(\"PING_HRVOJE_LAST\")===\"away\"?\"off\":\"on\");\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":540,"wires":[["d3f09e53.dd27d"]]},{"id":"39e65ba3.91a1b4","type":"function","z":"ded91b28.b9e3a8","name":"if enabled","func":"var isEnabled=global.get(\"ENABLE_LEDS\"||\"on\");\nif(isEnabled===\"off\")\n    msg.payload=\"off\";\n    \nif(msg.payload==\"update\")\n    msg.payload=(global.get(\"house_door_state\")===\"lock\"?\"off\":\"on\");\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":140,"wires":[["ad7d5216.e1eef"]]},{"id":"b6c91a9d.c9b0d8","type":"function","z":"ded91b28.b9e3a8","name":"if enabled","func":"var isEnabled=global.get(\"ENABLE_LEDS\"||\"on\");\nif(isEnabled===\"off\")\n    msg.payload=\"off\";    \nif(msg.payload==\"update\")\n    msg.payload=(global.get(\"gate2_state\")===\"close\"?\"off\":\"on\");\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":180,"wires":[["bfb25f8c.2e36b"]]},{"id":"b32e7c78.4fc77","type":"function","z":"ded91b28.b9e3a8","name":"if enabled","func":"var isEnabled=global.get(\"ENABLE_LEDS\"||\"on\");\nif(isEnabled===\"off\")\n    msg.payload=\"off\";\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":220,"wires":[["888c8b93.8f8da8"]]},{"id":"83e6a30c.7fa7c","type":"function","z":"ded91b28.b9e3a8","name":"if enabled","func":"var isEnabled=global.get(\"ENABLE_LEDS\"||\"on\");\nif(isEnabled===\"off\")\n    msg.payload=\"off\";\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":260,"wires":[["d6d6a2fa.478ea"]]},{"id":"6eec62bc.da5eac","type":"function","z":"ded91b28.b9e3a8","name":"if enabled","func":"var isEnabled=global.get(\"ENABLE_LEDS\"||\"on\");\nif(isEnabled===\"off\")\n    msg.payload=\"off\";\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":300,"wires":[["8bd738fd.1d8678"]]},{"id":"29d84287.c62d0e","type":"mqtt in","z":"ded91b28.b9e3a8","name":"cool btn","topic":"panel/dominik/sw/5","qos":"0","broker":"eaefbe14.0c428","x":90,"y":920,"wires":[["23bce8e6.b22008"]]},{"id":"23bce8e6.b22008","type":"function","z":"ded91b28.b9e3a8","name":"only if light is off/dim","func":"var lightDominik=global.get(\"light_dominik\")||0;\nif(lightDominik>10)\n    return null;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":920,"wires":[["cfc2ebb.0d6f118"]]},{"id":"cfc2ebb.0d6f118","type":"mqtt out","z":"ded91b28.b9e3a8","name":"","topic":"panel/dominik/coolkick","qos":"0","retain":"false","broker":"eaefbe14.0c428","x":630,"y":920,"wires":[]},{"id":"16a02f87.1eff9","type":"function","z":"5ca74b14.4bc484","name":"to onoff","func":"if(msg.payload===\"lock\")\n    msg.payload=\"off\";\nelse\n    msg.payload=\"on\";\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":180,"wires":[["2785b93.dcff146"]]},{"id":"2785b93.dcff146","type":"link out","z":"5ca74b14.4bc484","name":"House Door","links":["52e02b3.c2dc1d4"],"x":715,"y":180,"wires":[]},{"id":"1cc9642b.66aa4c","type":"function","z":"5ca74b14.4bc484","name":"to onoff","func":"if(msg.payload===\"close\")\n    msg.payload=\"off\";\nelse\n    msg.payload=\"on\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":360,"wires":[["76d74261.6afd7c"]]},{"id":"76d74261.6afd7c","type":"link out","z":"5ca74b14.4bc484","name":"Gate 2","links":["a0d0548b.beebc8"],"x":435,"y":360,"wires":[]},{"id":"de5df580.297fa8","type":"mqtt in","z":"83be0801.deeb68","name":"","topic":"panel/dominik/btn/bell","qos":"0","broker":"eaefbe14.0c428","x":120,"y":620,"wires":[["cbe5fb20.c5fdc8","8141e8c.fa0c218","716d4aa5.0aff64"]]},{"id":"85f0d2b4.18782","type":"inject","z":"83be0801.deeb68","name":"","topic":"","payload":"push","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":680,"wires":[["8141e8c.fa0c218","716d4aa5.0aff64"]]},{"id":"cbe5fb20.c5fdc8","type":"debug","z":"83be0801.deeb68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":680,"wires":[]},{"id":"8141e8c.fa0c218","type":"mqtt out","z":"83be0801.deeb68","name":"","topic":"panel/dominik/bell","qos":"","retain":"","broker":"eaefbe14.0c428","x":590,"y":620,"wires":[]},{"id":"2b4773d2.42a78c","type":"ui_toast","z":"83be0801.deeb68","position":"top right","displayTime":"10","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Bell Notification","x":580,"y":580,"wires":[]},{"id":"716d4aa5.0aff64","type":"template","z":"83be0801.deeb68","name":"bell text","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Someone is at the door","output":"str","x":400,"y":580,"wires":[["2b4773d2.42a78c"]]},{"id":"ab2db142.98838","type":"ui_chart","z":"5ca74b14.4bc484","name":"Gate Closed Stats","group":"c0cb2341.025c6","order":4,"width":"0","height":"0","label":"Gate Closed Stats","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"step","nodata":"---waiting---","dot":false,"ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":510,"y":440,"wires":[[],[]]},{"id":"713ee760.d128c8","type":"mqtt in","z":"5ca74b14.4bc484","name":"","topic":"panel/dominik/sw/3","qos":"0","broker":"eaefbe14.0c428","x":180,"y":880,"wires":[["a47168c1.933de8"]]},{"id":"a47168c1.933de8","type":"function","z":"5ca74b14.4bc484","name":"","func":"if(msg.payload===\"on\")\n    msg.payload=\"lock\";\nelse\n    msg.payload=\"unlock\";\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":880,"wires":[["8f040c9e.9e955"]]},{"id":"49f393e9.1e0b3c","type":"ui_chart","z":"ad37b19c.6e3cf","name":"","group":"8474ad06.8594","order":3,"width":0,"height":0,"label":"Light Stats","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"step","nodata":"---waiting---","dot":false,"ymin":"0","ymax":"255","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":530,"y":800,"wires":[[],[]]},{"id":"ad382267.55e73","type":"ui_button","z":"83be0801.deeb68","name":"","group":"28fd36f7.817cea","order":4,"width":"2","height":"1","label":"restore","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":1120,"wires":[["16923e44.1f1722"]]},{"id":"2049d94e.56e706","type":"ui_chart","z":"83be0801.deeb68","name":"","group":"28fd36f7.817cea","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"x":420,"y":820,"wires":[["6fea74dd.02da1c"],[]]},{"id":"1741283a.6e67f8","type":"file","z":"83be0801.deeb68","name":"","filename":"/tmp/chart.log","appendNewline":true,"createDir":false,"overwriteFile":"true","x":570,"y":980,"wires":[[]]},{"id":"16923e44.1f1722","type":"file in","z":"83be0801.deeb68","name":"","filename":"/tmp/chart.log","format":"utf8","x":290,"y":1120,"wires":[["4666007e.f6868"]]},{"id":"6fea74dd.02da1c","type":"json","z":"83be0801.deeb68","name":"","x":560,"y":820,"wires":[["ae45a90f.e54d48"]]},{"id":"4666007e.f6868","type":"json","z":"83be0801.deeb68","name":"","x":300,"y":860,"wires":[["2049d94e.56e706"]]},{"id":"ae45a90f.e54d48","type":"function","z":"83be0801.deeb68","name":"","func":"if (msg.topic === \"save\") {\n    msg.payload = context.last;\n    return msg;\n}\nelse {\n    context.last = msg.payload;\n}\nreturn null;","outputs":1,"noerr":0,"x":300,"y":980,"wires":[["1741283a.6e67f8"]]},{"id":"394385a3.876e4a","type":"ui_button","z":"83be0801.deeb68","name":"","group":"28fd36f7.817cea","order":3,"width":"2","height":"1","label":"save","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"save","x":120,"y":980,"wires":[["ae45a90f.e54d48"]]},{"id":"15aaf8be.a7fdc7","type":"inject","z":"6ce645dd.347edc","name":"Off at 1AM","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"00 01 * * *","once":false,"onceDelay":0.1,"x":130,"y":1900,"wires":[["4974bd01.f89c44"]]},{"id":"4974bd01.f89c44","type":"ui_switch","z":"6ce645dd.347edc","name":"","label":"Smart Mirror / Photo Frame","tooltip":"","group":"6f2503eb.31960c","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":400,"y":1920,"wires":[["9decfd2e.b26af"]]},{"id":"1284e25e.f2c39e","type":"exec","z":"6ce645dd.347edc","command":"xset -display :0.0 dpms force ","addpay":true,"append":"","useSpawn":"false","timer":"5","oldrc":false,"name":"Turn Screen On / Off","x":800,"y":1920,"wires":[[],[],[]]},{"id":"6ee50f0b.3d62c","type":"inject","z":"6ce645dd.347edc","name":"On at 7AM","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":0.1,"x":130,"y":1940,"wires":[["4974bd01.f89c44"]]},{"id":"bcc1eea0.df4e2","type":"ui_button","z":"6ce645dd.347edc","name":"","group":"6f2503eb.31960c","order":4,"width":"3","height":"1","passthru":false,"label":"Previous Photo","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Left","payloadType":"str","topic":"","x":120,"y":1800,"wires":[["d90dec5d.05614"]]},{"id":"18965c47.2d2774","type":"exec","z":"6ce645dd.347edc","command":"DISPLAY=:0 xdotool key ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":570,"y":1820,"wires":[[],[],[]]},{"id":"bad6ed21.06353","type":"ui_button","z":"6ce645dd.347edc","name":"","group":"6f2503eb.31960c","order":4,"width":"3","height":"1","passthru":false,"label":"Next Photo","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Right","payloadType":"str","topic":"","x":110,"y":1840,"wires":[["d90dec5d.05614"]]},{"id":"9decfd2e.b26af","type":"function","z":"6ce645dd.347edc","name":"Save State","func":"global.set(\"tablet_screen_state\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1920,"wires":[["1284e25e.f2c39e"]]},{"id":"d90dec5d.05614","type":"function","z":"6ce645dd.347edc","name":"only if on","func":"var currentState=global.get(\"tablet_screen_state\")||\"on\";\nif(currentState===\"off\")\n    return null;\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1820,"wires":[["18965c47.2d2774"]]},{"id":"33135008.a0633","type":"inject","z":"6ce645dd.347edc","name":"Auto every 5min","topic":"","payload":"Right","payloadType":"str","repeat":"300","crontab":"","once":false,"onceDelay":"300","x":170,"y":1760,"wires":[["d90dec5d.05614"]]},{"id":"d876875.00fc678","type":"comment","z":"6ce645dd.347edc","name":"Photo frame and Magic Mirror","info":"","x":160,"y":1700,"wires":[]},{"id":"d0aa3c46.dad56","type":"link out","z":"20b58b0f.00b8b4","name":"APP Tablet Screen","links":["95dc0c33.4a932"],"x":615,"y":640,"wires":[]},{"id":"95dc0c33.4a932","type":"link in","z":"6ce645dd.347edc","name":"CONTROL Tablet Screen","links":["d0aa3c46.dad56"],"x":195,"y":1980,"wires":[["4974bd01.f89c44"]]},{"id":"a18fa1d2.875de","type":"function","z":"20b58b0f.00b8b4","name":"","func":"var pld=msg.payload.action;\nmsg.payload=pld;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":640,"wires":[["d0aa3c46.dad56"]]}]