NodeRED backups/nodered-backup-2018-12-14.txt
[{"id":"ad37b19c.6e3cf","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"5ca74b14.4bc484","type":"tab","label":"Doors / Gates","disabled":false,"info":""},{"id":"83be0801.deeb68","type":"tab","label":"Development","disabled":true,"info":""},{"id":"6ce645dd.347edc","type":"tab","label":"Control Logic","disabled":false,"info":""},{"id":"20b58b0f.00b8b4","type":"tab","label":"Remote App","disabled":false,"info":""},{"id":"eaefbe14.0c428","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"87f72b2b.1cabd8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"House Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7089d09e.5eaa5","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"5ecfb5b.c759d4c","type":"ui_group","z":"","name":"Living Room","tab":"7089d09e.5eaa5","order":2,"disp":true,"width":"4","collapse":false},{"id":"fd8635e1.25a568","type":"ui_tab","z":"","name":"Debug","icon":"settings","order":4},{"id":"e4e5b3d4.99aab","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":2},{"id":"f03b32a4.4142","type":"ui_tab","z":"","name":"Graphs","icon":"pie_chart","order":3},{"id":"da995fcc.539e7","type":"ui_group","z":"","name":"Graphs","tab":"f03b32a4.4142","disp":true,"width":"15","collapse":false},{"id":"8ccd6141.0bd92","type":"ui_group","z":"","name":"House","tab":"7089d09e.5eaa5","order":1,"disp":true,"width":"2","collapse":false},{"id":"2706f0ba.d3f94","type":"ui_group","z":"","name":"Dominik's Room","tab":"7089d09e.5eaa5","order":3,"disp":true,"width":"6","collapse":false},{"id":"d4e7769f.ea4698","type":"websocket-listener","z":"","path":"/remote/command","wholemsg":"false"},{"id":"3153cc39.9368f4","type":"ui_group","z":"","name":"Who is home","tab":"7089d09e.5eaa5","disp":true,"width":"6","collapse":false},{"id":"c67670a7.aae16","type":"ui_group","z":"","name":"Teste","tab":"f5b3c798.dcf6a8","disp":false,"width":"6"},{"id":"f5b3c798.dcf6a8","type":"ui_tab","z":"","name":"LAB","icon":"dashboard"},{"id":"9e839501.d81908","type":"mqtt in","z":"ad37b19c.6e3cf","name":"","topic":"switches/livingroom/1","qos":"0","broker":"eaefbe14.0c428","x":140,"y":160,"wires":[["10fe5b12.51c205"]]},{"id":"10fe5b12.51c205","type":"mqtt out","z":"ad37b19c.6e3cf","name":"","topic":"lights/livingroom/1","qos":"0","retain":"true","broker":"eaefbe14.0c428","x":810,"y":160,"wires":[]},{"id":"c256e1a9.06506","type":"ui_switch","z":"ad37b19c.6e3cf","name":"","label":"Light 1","tooltip":"","group":"5ecfb5b.c759d4c","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":610,"y":220,"wires":[["10fe5b12.51c205"]]},{"id":"f3bd13c.00761f","type":"mqtt in","z":"ad37b19c.6e3cf","name":"","topic":"lights/livingroom/1","qos":"0","broker":"eaefbe14.0c428","x":130,"y":220,"wires":[["f7a1e6f6.3feb28","c256e1a9.06506"]]},{"id":"37b3dcd8.ade0b4","type":"mqtt in","z":"ad37b19c.6e3cf","name":"","topic":"lights/livingroom/2","qos":"0","broker":"eaefbe14.0c428","x":130,"y":420,"wires":[["ff8c4dc8.f86bd","a411c84f.e21048"]]},{"id":"ff8c4dc8.f86bd","type":"ui_switch","z":"ad37b19c.6e3cf","name":"","label":"Light 2","tooltip":"","group":"5ecfb5b.c759d4c","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":610,"y":420,"wires":[["4758851f.8787bc"]]},{"id":"4758851f.8787bc","type":"mqtt out","z":"ad37b19c.6e3cf","name":"","topic":"lights/livingroom/2","qos":"0","retain":"true","broker":"eaefbe14.0c428","x":810,"y":360,"wires":[]},{"id":"2bf79897.80bcf8","type":"inject","z":"ad37b19c.6e3cf","name":"Lights off at 1am","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"00 01 * * *","once":false,"onceDelay":0.1,"x":531.2500381469727,"y":54.50001811981201,"wires":[["4758851f.8787bc","10fe5b12.51c205","c90db36b.2a1ff"]]},{"id":"743fed56.ce12f4","type":"mqtt in","z":"ad37b19c.6e3cf","name":"","topic":"switches/livingroom/2","qos":"0","broker":"eaefbe14.0c428","x":140,"y":360,"wires":[["4758851f.8787bc"]]},{"id":"2aa78365.bf2bac","type":"mqtt out","z":"5ca74b14.4bc484","name":"","topic":"lock/door/house","qos":"0","retain":"true","broker":"eaefbe14.0c428","x":820,"y":80,"wires":[]},{"id":"dea86d2b.71bd5","type":"mqtt in","z":"5ca74b14.4bc484","name":"","topic":"switch/door/house","qos":"0","broker":"eaefbe14.0c428","x":130,"y":80,"wires":[["cc22e418.c8b6d8"]]},{"id":"a7594d6f.08a1f","type":"mqtt in","z":"5ca74b14.4bc484","name":"","topic":"lock/door/house","qos":"2","broker":"eaefbe14.0c428","x":120,"y":140,"wires":[["a4fd72fe.f77c5","af5df6ab.2b6768"]]},{"id":"a4fd72fe.f77c5","type":"function","z":"5ca74b14.4bc484","name":"save state","func":"global.set(\"house_door_state\",msg.payload);\nif(msg.payload==\"lock\")\n    msg.payload=1;\nelse\n    msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["e0bd2ffb.61e73"]]},{"id":"af5df6ab.2b6768","type":"ui_switch","z":"5ca74b14.4bc484","name":"","label":"House Door","tooltip":"","group":"8ccd6141.0bd92","order":2,"width":"2","height":"2","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"unlock","onvalueType":"str","onicon":"fa-folder-open","oncolor":"black","offvalue":"lock","offvalueType":"str","officon":"fa-folder","offcolor":"black","x":610,"y":140,"wires":[["2aa78365.bf2bac"]]},{"id":"cc22e418.c8b6d8","type":"function","z":"5ca74b14.4bc484","name":"toggle","func":"var current = global.get(\"house_door_state\") || \"unlock\";\n    if(current==\"lock\")\n        msg.payload=\"unlock\";\n    else\n        msg.payload=\"lock\";\n    \n\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":80,"wires":[["2aa78365.bf2bac"]]},{"id":"f7a1e6f6.3feb28","type":"function","z":"ad37b19c.6e3cf","name":"Save Light 1","func":"global.set(\"light_livingroom_1\",msg.payload);\nif(msg.payload==\"on\")\n    msg.payload=1;\nelse\n    msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":260,"wires":[["8b3a2ecd.1eb22"]]},{"id":"a411c84f.e21048","type":"function","z":"ad37b19c.6e3cf","name":"Save Light 2","func":"global.set(\"light_livingroom_2\",msg.payload);\nif(msg.payload==\"on\")\n    msg.payload=1;\nelse\n    msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":460,"wires":[["f983e2cf.93acd"]]},{"id":"e0bd2ffb.61e73","type":"ui_chart","z":"5ca74b14.4bc484","name":"Door Locked Stats","group":"da995fcc.539e7","order":3,"width":"0","height":"0","label":"Door Locked Stats","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"step","nodata":"---waiting---","dot":false,"ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":510,"y":220,"wires":[[],[]]},{"id":"8b3a2ecd.1eb22","type":"ui_chart","z":"ad37b19c.6e3cf","name":"","group":"da995fcc.539e7","order":4,"width":0,"height":0,"label":"Light 1 Stats","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"step","nodata":"---waiting---","dot":false,"ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":520,"y":300,"wires":[[],[]]},{"id":"f983e2cf.93acd","type":"ui_chart","z":"ad37b19c.6e3cf","name":"","group":"da995fcc.539e7","order":4,"width":0,"height":0,"label":"Light 2 Stats","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"step","nodata":"---waiting---","dot":false,"ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#d20000","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":510,"y":500,"wires":[[],[]]},{"id":"84af828d.de823","type":"mqtt in","z":"ad37b19c.6e3cf","name":"","topic":"panel/dominik/btn/1","qos":"0","broker":"eaefbe14.0c428","x":130,"y":660,"wires":[["9cfac877.87daa8"]]},{"id":"c90db36b.2a1ff","type":"mqtt out","z":"ad37b19c.6e3cf","name":"","topic":"lights/dominik/1","qos":"0","retain":"true","broker":"eaefbe14.0c428","x":820,"y":660,"wires":[]},{"id":"90bfcb3d.4fef78","type":"function","z":"ad37b19c.6e3cf","name":"Save Light Dominik","func":"global.set(\"light_dominik\",msg.payload);\nif(msg.payload==\"on\")\n    msg.payload=1;\nelse\n    msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":760,"wires":[[]]},{"id":"814303ef.957ff","type":"ui_slider","z":"ad37b19c.6e3cf","name":"","label":"Light 1","tooltip":"","group":"2706f0ba.d3f94","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"255","step":1,"x":610,"y":720,"wires":[["c90db36b.2a1ff"]]},{"id":"23b1fd5d.5e6112","type":"mqtt in","z":"ad37b19c.6e3cf","name":"","topic":"lights/dominik/1","qos":"0","broker":"eaefbe14.0c428","x":120,"y":760,"wires":[["90bfcb3d.4fef78"]]},{"id":"9cfac877.87daa8","type":"function","z":"ad37b19c.6e3cf","name":"Toggle","func":"var current=global.get(\"light_dominik\") || 0;\nif(current>0)\n    msg.payload=0;\nelse\n    msg.payload=255;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":660,"wires":[["c90db36b.2a1ff"]]},{"id":"7d0e1880.9c78c8","type":"mqtt in","z":"5ca74b14.4bc484","name":"","topic":"panel/dominik/btn/3","qos":"0","broker":"eaefbe14.0c428","x":130,"y":320,"wires":[["59feb9f4.c0ff78"]]},{"id":"88b77d5a.78b1a","type":"function","z":"5ca74b14.4bc484","name":"save state","func":"global.set(\"gate2_state\",msg.payload);\nif(msg.payload==\"close\")\n    msg.payload=1;\nelse\n    msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":420,"wires":[[]]},{"id":"59feb9f4.c0ff78","type":"function","z":"5ca74b14.4bc484","name":"toggle","func":"var current = global.get(\"gate2_state\") || \"open\";\n    if(current==\"close\")\n        msg.payload=\"open\";\n    else\n        msg.payload=\"close\";\n    \n\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":320,"wires":[["ae06e2f8.66341"]]},{"id":"2a221f46.dc051","type":"mqtt out","z":"5ca74b14.4bc484","name":"","topic":"panel/dominik/gate/2","qos":"0","retain":"true","broker":"eaefbe14.0c428","x":940,"y":320,"wires":[]},{"id":"43ef6b66.fa9be4","type":"ui_switch","z":"5ca74b14.4bc484","name":"","label":"Car Gate","tooltip":"","group":"8ccd6141.0bd92","order":2,"width":"2","height":"2","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"open","onvalueType":"str","onicon":"fa-folder-open","oncolor":"black","offvalue":"close","offvalueType":"str","officon":"fa-folder","offcolor":"black","x":540,"y":380,"wires":[["ae06e2f8.66341"]]},{"id":"faf4f93c.0ef928","type":"mqtt in","z":"5ca74b14.4bc484","name":"","topic":"panel/dominik/gate/2","qos":"0","broker":"eaefbe14.0c428","x":130,"y":380,"wires":[["43ef6b66.fa9be4","88b77d5a.78b1a"]]},{"id":"320253dd.b5467c","type":"inject","z":"5ca74b14.4bc484","name":"","topic":"","payload":"force","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":260,"wires":[["2a221f46.dc051"]]},{"id":"cc5941c1.8ba58","type":"mqtt out","z":"5ca74b14.4bc484","name":"","topic":"panel/dominik/gate/1","qos":"0","retain":"false","broker":"eaefbe14.0c428","x":800,"y":500,"wires":[]},{"id":"82802809.51db98","type":"ui_button","z":"5ca74b14.4bc484","name":"","group":"8ccd6141.0bd92","order":2,"width":0,"height":0,"passthru":false,"label":"Gate 1","tooltip":"","color":"","bgcolor":"","icon":"forward_10","payload":"push","payloadType":"str","topic":"","x":550,"y":540,"wires":[["cc5941c1.8ba58"]]},{"id":"ea950fd9.9896d","type":"mqtt in","z":"5ca74b14.4bc484","name":"","topic":"panel/dominik/btn/2","qos":"0","broker":"eaefbe14.0c428","x":130,"y":500,"wires":[["cc5941c1.8ba58"]]},{"id":"de3665e9.f34608","type":"mqtt in","z":"6ce645dd.347edc","name":"","topic":"panel/dominik/temperature","qos":"0","broker":"eaefbe14.0c428","x":150,"y":220,"wires":[["8c1b9227.8defd"]]},{"id":"8c1b9227.8defd","type":"ui_chart","z":"6ce645dd.347edc","name":"","group":"da995fcc.539e7","order":3,"width":0,"height":0,"label":"Temperature - Dominik","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"---waiting---","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":420,"y":220,"wires":[[],[]]},{"id":"c1e589a2.020b98","type":"http in","z":"20b58b0f.00b8b4","name":"","url":"/remote/command","method":"get","upload":false,"swaggerDoc":"","x":140,"y":300,"wires":[["e4a601e7.df503","51bb8627.0aed78"]]},{"id":"9183ed09.26fec","type":"http response","z":"20b58b0f.00b8b4","name":"Command Response","statusCode":"","headers":{"status":"test"},"x":600,"y":300,"wires":[]},{"id":"e4a601e7.df503","type":"function","z":"20b58b0f.00b8b4","name":"","func":"msg.payload=\"Success\"\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":300,"wires":[["9183ed09.26fec"]]},{"id":"ade8e7e1.eaad58","type":"mqtt out","z":"20b58b0f.00b8b4","name":"","topic":"lights/dominik/1","qos":"0","retain":"true","broker":"eaefbe14.0c428","x":680,"y":400,"wires":[]},{"id":"51bb8627.0aed78","type":"switch","z":"20b58b0f.00b8b4","name":"","property":"payload.node","propertyType":"msg","rules":[{"t":"eq","v":"light_dominik","vt":"str"},{"t":"eq","v":"light_livingroom_1","vt":"str"},{"t":"eq","v":"light_livingroom_2","vt":"str"},{"t":"eq","v":"gate1","vt":"str"},{"t":"eq","v":"gate2","vt":"str"},{"t":"eq","v":"door_house","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":310,"y":420,"wires":[["ac812a.22f07ed8"],["9c08d636.7bde58"],["e2366b0.d34ab98"],["88058bcb.008f48"],["df8dd6af.de9e78"],["63bf844b.cc9f0c"]]},{"id":"ac812a.22f07ed8","type":"function","z":"20b58b0f.00b8b4","name":"","func":"var pld=msg.payload.action;\nmsg.payload=parseInt(pld);\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":400,"wires":[["ade8e7e1.eaad58"]]},{"id":"9c08d636.7bde58","type":"function","z":"20b58b0f.00b8b4","name":"","func":"var pld=msg.payload.action;\nmsg.payload=pld;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":440,"wires":[["72facdb4.d8c9b4"]]},{"id":"72facdb4.d8c9b4","type":"mqtt out","z":"20b58b0f.00b8b4","name":"","topic":"lights/livingroom/1","qos":"0","retain":"true","broker":"eaefbe14.0c428","x":690,"y":440,"wires":[]},{"id":"e2366b0.d34ab98","type":"function","z":"20b58b0f.00b8b4","name":"","func":"var pld=msg.payload.action;\nmsg.payload=pld;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":480,"wires":[["7bcfcf6a.4c27f"]]},{"id":"7bcfcf6a.4c27f","type":"mqtt out","z":"20b58b0f.00b8b4","name":"","topic":"lights/livingroom/2","qos":"0","retain":"true","broker":"eaefbe14.0c428","x":690,"y":480,"wires":[]},{"id":"88058bcb.008f48","type":"function","z":"20b58b0f.00b8b4","name":"","func":"var pld=msg.payload.action;\nmsg.payload=pld;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":520,"wires":[["570f63.3ee4a09c"]]},{"id":"570f63.3ee4a09c","type":"mqtt out","z":"20b58b0f.00b8b4","name":"","topic":"panel/dominik/gate/1","qos":"0","retain":"false","broker":"eaefbe14.0c428","x":700,"y":520,"wires":[]},{"id":"df8dd6af.de9e78","type":"function","z":"20b58b0f.00b8b4","name":"","func":"var pld=msg.payload.action;\nmsg.payload=pld;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":560,"wires":[["a13202fe.3037d"]]},{"id":"a13202fe.3037d","type":"mqtt out","z":"20b58b0f.00b8b4","name":"","topic":"panel/dominik/gate/2","qos":"0","retain":"true","broker":"eaefbe14.0c428","x":700,"y":560,"wires":[]},{"id":"63bf844b.cc9f0c","type":"function","z":"20b58b0f.00b8b4","name":"","func":"var pld=msg.payload.action;\nmsg.payload=pld;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":600,"wires":[["a757a6ce.ba9388"]]},{"id":"a757a6ce.ba9388","type":"mqtt out","z":"20b58b0f.00b8b4","name":"","topic":"lock/door/house","qos":"0","retain":"true","broker":"eaefbe14.0c428","x":680,"y":600,"wires":[]},{"id":"8e44e469.531f08","type":"http in","z":"20b58b0f.00b8b4","name":"","url":"/remote/status","method":"get","upload":false,"swaggerDoc":"","x":130,"y":100,"wires":[["a0665b68.c5f288"]]},{"id":"a0665b68.c5f288","type":"function","z":"20b58b0f.00b8b4","name":"","func":"var status={};\nstatus.light_dominik=global.get(\"light_dominik\")||0;\nstatus.light_livingroom_1=global.get(\"light_livingroom_1\")||\"off\";\nstatus.light_livingroom_2=global.get(\"light_livingroom_2\")||\"off\";\nstatus.house_door_state=global.get(\"house_door_state\")||\"lock\";\nstatus.gate2_state=global.get(\"gate_2_state\")||\"close\";\nmsg.payload=status;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":100,"wires":[["d74939e2.cd0248"]]},{"id":"d74939e2.cd0248","type":"http response","z":"20b58b0f.00b8b4","name":"Status Response","statusCode":"","headers":{},"x":580,"y":100,"wires":[]},{"id":"9f6599d.d3c4868","type":"ping","z":"6ce645dd.347edc","name":"PING Dominik","host":"192.168.1.103","timer":"30","x":110,"y":340,"wires":[["9a776cfb.5bc6e"]]},{"id":"9a776cfb.5bc6e","type":"function","z":"6ce645dd.347edc","name":"Change/Save","func":"var lastState=global.get(\"PING_DOMINIK_LAST\")||\"away\";\n\nif(msg.payload===\"update\"){\n    msg.payload=lastState;\n    msg.color=(lastState==\"away\")?\"red\":\"green\";\n    return msg;\n}\n\nvar currentState=(msg.payload===false)?\"away\":\"home\";\nglobal.set(\"PING_DOMINIK_LAST\",currentState);\nif(lastState==currentState)\n    return null;\n    \nmsg.color=(currentState==\"away\")?\"red\":\"green\";   \nmsg.payload=currentState;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":340,"wires":[["326e735b.55dfcc","86b1f5a7.fa85a8","e43bf525.8594d8","1b7a3a44.cc7596"]]},{"id":"5c9d9870.7af2e8","type":"switch","z":"6ce645dd.347edc","name":"is home?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"away","vt":"str"},{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":440,"wires":[["5fec71b2.443b5"],["f42d0d6b.9ee1c","2e249c35.d5b3b4"]]},{"id":"5fec71b2.443b5","type":"function","z":"6ce645dd.347edc","name":"off(0)","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":420,"wires":[["3fbd00f7.e2241"]]},{"id":"3fbd00f7.e2241","type":"mqtt out","z":"6ce645dd.347edc","name":"","topic":"lights/dominik/1","qos":"0","retain":"true","broker":"eaefbe14.0c428","x":980,"y":420,"wires":[]},{"id":"2e249c35.d5b3b4","type":"function","z":"6ce645dd.347edc","name":"open","func":"msg.payload=\"open\";\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":460,"wires":[["d410c06d.f0cd7"]]},{"id":"f42d0d6b.9ee1c","type":"function","z":"6ce645dd.347edc","name":"unlock","func":"global.set(\"HOUSE_DOOR_STATE_LAST\",global.get(\"house_door_state\"));\nmsg.payload=\"unlock\";\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":500,"wires":[["48361036.e3839"]]},{"id":"42e5a70f.72aea8","type":"delay","z":"6ce645dd.347edc","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":520,"wires":[["7bc1b25e.3fa42c"]]},{"id":"7bc1b25e.3fa42c","type":"function","z":"6ce645dd.347edc","name":"relock","func":"msg.payload=global.get(\"HOUSE_DOOR_STATE_LAST\");\nif(msg.payload==\"unlock\")\n    return null;\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":520,"wires":[["fdda32d0.1e6c6"]]},{"id":"36cc76b9.89180a","type":"link in","z":"6ce645dd.347edc","name":"Everyone Left","links":["c747912b.59ec9"],"x":55,"y":1220,"wires":[["b41091b2.7213"]]},{"id":"b41091b2.7213","type":"delay","z":"6ce645dd.347edc","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":160,"y":1220,"wires":[["6d595da4.bd6144"]]},{"id":"ca61b473.63f5e8","type":"function","z":"6ce645dd.347edc","name":"lock","func":"msg.payload=\"lock\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1180,"wires":[["1f9ce627.33f54a"]]},{"id":"1f9ce627.33f54a","type":"mqtt out","z":"6ce645dd.347edc","name":"","topic":"lock/door/house","qos":"0","retain":"true","broker":"eaefbe14.0c428","x":720,"y":1180,"wires":[]},{"id":"aa8ef440.611fd8","type":"mqtt out","z":"6ce645dd.347edc","name":"","topic":"lights/dominik/1","qos":"0","retain":"true","broker":"eaefbe14.0c428","x":720,"y":1220,"wires":[]},{"id":"88326ce8.0c073","type":"function","z":"6ce645dd.347edc","name":"off","func":"msg.payload=\"off\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1260,"wires":[["a794790a.aa4d28","6631db63.0b2e34"]]},{"id":"a794790a.aa4d28","type":"mqtt out","z":"6ce645dd.347edc","name":"","topic":"lights/livingroom/1","qos":"0","retain":"true","broker":"eaefbe14.0c428","x":730,"y":1260,"wires":[]},{"id":"6631db63.0b2e34","type":"mqtt out","z":"6ce645dd.347edc","name":"","topic":"lights/livingroom/2","qos":"0","retain":"true","broker":"eaefbe14.0c428","x":730,"y":1300,"wires":[]},{"id":"cfc6d99.823f728","type":"ping","z":"6ce645dd.347edc","name":"PING Igor","host":"192.168.1.101","timer":"30","x":100,"y":740,"wires":[["b7b5a873.5a7b68"]]},{"id":"b7b5a873.5a7b68","type":"function","z":"6ce645dd.347edc","name":"Change/Save","func":"var lastState=global.get(\"PING_IGOR_LAST\")||\"away\";\n\nif(msg.payload===\"update\"){\n    msg.payload=lastState;\n    msg.color=(lastState==\"away\")?\"red\":\"green\";  \n    return msg;\n}\n    \nvar currentState=(msg.payload===false)?\"away\":\"home\";\nglobal.set(\"PING_IGOR_LAST\",currentState);\nif(lastState==currentState)\n    return null;\n    \nmsg.color=(currentState==\"away\")?\"red\":\"green\";  \nmsg.payload=currentState;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":740,"wires":[["326e735b.55dfcc","b15c63e.b3123a","e5bef279.d46b"]]},{"id":"98d591a.de87d7","type":"ping","z":"6ce645dd.347edc","name":"PING Kristina","host":"192.168.1.102","timer":"30","x":110,"y":820,"wires":[["fb0a155d.be0b78"]]},{"id":"fb0a155d.be0b78","type":"function","z":"6ce645dd.347edc","name":"Change/Save","func":"var lastState=global.get(\"PING_KRISTINA_LAST\")||\"away\";\n\nif(msg.payload===\"update\"){\n    msg.color=(lastState==\"away\")?\"red\":\"green\";  \n    msg.payload=lastState;\n    return msg;\n}\n\nvar currentState=(msg.payload===false)?\"away\":\"home\";\nglobal.set(\"PING_KRISTINA_LAST\",currentState);\nif(lastState==currentState)\n    return null;\nmsg.color=(currentState==\"away\")?\"red\":\"green\";     \nmsg.payload=currentState;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":820,"wires":[["326e735b.55dfcc","751c6447.1531ec","e56db74b.468c48"]]},{"id":"315ff988.803976","type":"ping","z":"6ce645dd.347edc","name":"PING Marko","host":"192.168.1.104","timer":"30","x":110,"y":900,"wires":[["43ccf9d.ce4ff08"]]},{"id":"43ccf9d.ce4ff08","type":"function","z":"6ce645dd.347edc","name":"Change/Save","func":"var lastState=global.get(\"PING_MARKO_LAST\")||\"away\";\n\nif(msg.payload===\"update\"){\n    msg.color=(lastState==\"away\")?\"red\":\"green\";  \n    msg.payload=lastState;\n    return msg;\n}\n\nvar currentState=(msg.payload===false)?\"away\":\"home\";\nglobal.set(\"PING_MARKO_LAST\",currentState);\nif(lastState==currentState)\n    return null;\n    \nmsg.color=(currentState==\"away\")?\"red\":\"green\";  \nmsg.payload=currentState;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":900,"wires":[["326e735b.55dfcc","15642fce.7e2b8","b12d775f.e78458"]]},{"id":"89659578.840e08","type":"ping","z":"6ce645dd.347edc","name":"PING Hrvoje","host":"192.168.1.105","timer":"30","x":110,"y":980,"wires":[["77174bf5.2597e4"]]},{"id":"77174bf5.2597e4","type":"function","z":"6ce645dd.347edc","name":"Change/Save","func":"var lastState=global.get(\"PING_HRVOJE_LAST\")||\"away\";\n\nif(msg.payload===\"update\"){\n    msg.color=(lastState==\"away\")?\"red\":\"green\";  \n    msg.payload=lastState;\n    return msg;\n}\n\nvar currentState=(msg.payload===false)?\"away\":\"home\";\nglobal.set(\"PING_HRVOJE_LAST\",currentState);\nif(lastState==currentState)\n    return null;\nmsg.color=(currentState==\"away\")?\"red\":\"green\";      \nmsg.payload=currentState;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":980,"wires":[["326e735b.55dfcc","7852f2f0.8510cc","70dce9ab.180548"]]},{"id":"be7e8f4.6b7607","type":"function","z":"6ce645dd.347edc","name":"Everyone Away","func":"if((global.get(\"PING_IGOR_LAST\")||\"home\")==\"away\"&&(global.get(\"PING_KRISTINA_LAST\")||\"home\")==\"away\"&&(global.get(\"PING_DOMINIK_LAST\")||\"home\")==\"away\"&&(global.get(\"PING_MARKO_LAST\")|\"home\")==\"away\"&&(global.get(\"PING_HRVOJE_LAST\")||\"home\")==\"away\"){\n    return msg;\n} else{\n    return null;\n}\n\n","outputs":1,"noerr":0,"x":880,"y":1060,"wires":[["c747912b.59ec9","c3bfd1c2.950f4"]]},{"id":"c747912b.59ec9","type":"link out","z":"6ce645dd.347edc","name":"Everyone Left","links":["36cc76b9.89180a"],"x":1015,"y":1060,"wires":[]},{"id":"acc75c79.7d8de","type":"function","z":"6ce645dd.347edc","name":"off(0)","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1220,"wires":[["aa8ef440.611fd8"]]},{"id":"d8ca4b67.eb2718","type":"switch","z":"6ce645dd.347edc","name":"is home?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"away","vt":"str"},{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":740,"wires":[["be7e8f4.6b7607"],["2e249c35.d5b3b4","f42d0d6b.9ee1c"]]},{"id":"108e1f3e.726c41","type":"switch","z":"6ce645dd.347edc","name":"is home?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"away","vt":"str"},{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":820,"wires":[["be7e8f4.6b7607"],["2e249c35.d5b3b4","f42d0d6b.9ee1c"]]},{"id":"8220a2db.d037d","type":"switch","z":"6ce645dd.347edc","name":"is home?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"away","vt":"str"},{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":900,"wires":[["be7e8f4.6b7607"],["f42d0d6b.9ee1c"]]},{"id":"5477958e.5e4a9c","type":"switch","z":"6ce645dd.347edc","name":"is home?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"away","vt":"str"},{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":980,"wires":[["be7e8f4.6b7607"],["f42d0d6b.9ee1c"]]},{"id":"c3bfd1c2.950f4","type":"debug","z":"6ce645dd.347edc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1080,"y":1140,"wires":[]},{"id":"326e735b.55dfcc","type":"debug","z":"6ce645dd.347edc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":530,"y":500,"wires":[]},{"id":"88c4c1f7.22eca","type":"function","z":"6ce645dd.347edc","name":"close","func":"msg.payload=\"close\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1340,"wires":[["d89a5b74.226ae8"]]},{"id":"6d595da4.bd6144","type":"function","z":"6ce645dd.347edc","name":"Everyone Still Away","func":"if((global.get(\"PING_IGOR_LAST\")||\"home\")==\"away\"&&(global.get(\"PING_KRISTINA_LAST\")||\"home\")==\"away\"&&(global.get(\"PING_DOMINIK_LAST\")||\"home\")==\"away\"&&(global.get(\"PING_MARKO_LAST\")|\"home\")==\"away\"&&(global.get(\"PING_HRVOJE_LAST\")||\"home\")==\"away\"){\n    return msg;\n} else{\n    return null;\n}\n\n","outputs":1,"noerr":0,"x":330,"y":1220,"wires":[["ca61b473.63f5e8","acc75c79.7d8de","88326ce8.0c073","88c4c1f7.22eca"]]},{"id":"fdda32d0.1e6c6","type":"debug","z":"6ce645dd.347edc","name":"unlock debuck","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1420,"y":500,"wires":[]},{"id":"ae06e2f8.66341","type":"delay","z":"5ca74b14.4bc484","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":720,"y":320,"wires":[["2a221f46.dc051"]]},{"id":"2276e85d.a2af08","type":"link in","z":"5ca74b14.4bc484","name":"Gate 2","links":["74890798.412788","d89a5b74.226ae8"],"x":575,"y":280,"wires":[["ae06e2f8.66341"]]},{"id":"74890798.412788","type":"link out","z":"6ce645dd.347edc","name":"Gate 2 REL1","links":["2276e85d.a2af08"],"x":1115,"y":460,"wires":[]},{"id":"d89a5b74.226ae8","type":"link out","z":"6ce645dd.347edc","name":"Gate 2 REL2","links":["2276e85d.a2af08"],"x":700,"y":1340,"wires":[]},{"id":"8ee7f2a0.421dd","type":"mqtt in","z":"5ca74b14.4bc484","name":"","topic":"panel/dominik/btn/bell","qos":"0","broker":"eaefbe14.0c428","x":280,"y":660,"wires":[["aa924433.36b498","de524c93.abcc7","4da03757.81c938"]]},{"id":"3d054c26.f02e74","type":"inject","z":"5ca74b14.4bc484","name":"","topic":"","payload":"push","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":720,"wires":[["de524c93.abcc7","4da03757.81c938"]]},{"id":"aa924433.36b498","type":"debug","z":"5ca74b14.4bc484","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":720,"wires":[]},{"id":"de524c93.abcc7","type":"mqtt out","z":"5ca74b14.4bc484","name":"","topic":"panel/dominik/bell","qos":"","retain":"","broker":"eaefbe14.0c428","x":630,"y":660,"wires":[]},{"id":"f56f18dd.d39a68","type":"ui_toast","z":"5ca74b14.4bc484","position":"top right","displayTime":"10","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Bell Notification","x":740,"y":620,"wires":[]},{"id":"4da03757.81c938","type":"template","z":"5ca74b14.4bc484","name":"bell text","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Someone is at the door","output":"str","x":560,"y":620,"wires":[["f56f18dd.d39a68"]]},{"id":"b15c63e.b3123a","type":"ui_text","z":"6ce645dd.347edc","group":"3153cc39.9368f4","order":3,"width":0,"height":0,"name":"","label":"Igor","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","x":490,"y":780,"wires":[]},{"id":"100ce805.ae40d8","type":"inject","z":"6ce645dd.347edc","name":"Manual update","topic":"","payload":"update","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":640,"wires":[["b7b5a873.5a7b68","9a776cfb.5bc6e","fb0a155d.be0b78","43ccf9d.ce4ff08","77174bf5.2597e4"]]},{"id":"751c6447.1531ec","type":"ui_text","z":"6ce645dd.347edc","group":"3153cc39.9368f4","order":3,"width":0,"height":0,"name":"","label":"Kristina","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","x":500,"y":860,"wires":[]},{"id":"86b1f5a7.fa85a8","type":"ui_text","z":"6ce645dd.347edc","group":"3153cc39.9368f4","order":3,"width":0,"height":0,"name":"","label":"Dominik","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","x":500,"y":320,"wires":[]},{"id":"15642fce.7e2b8","type":"ui_text","z":"6ce645dd.347edc","group":"3153cc39.9368f4","order":3,"width":0,"height":0,"name":"","label":"Marko","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","x":490,"y":940,"wires":[]},{"id":"7852f2f0.8510cc","type":"ui_text","z":"6ce645dd.347edc","group":"3153cc39.9368f4","order":3,"width":0,"height":0,"name":"","label":"Hrvoje","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","x":490,"y":1020,"wires":[]},{"id":"d410c06d.f0cd7","type":"delay","z":"6ce645dd.347edc","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":980,"y":460,"wires":[["74890798.412788"]]},{"id":"48361036.e3839","type":"delay","z":"6ce645dd.347edc","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":980,"y":500,"wires":[["fdda32d0.1e6c6","42e5a70f.72aea8"]]},{"id":"e5bef279.d46b","type":"delay","z":"6ce645dd.347edc","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":740,"wires":[["d8ca4b67.eb2718"]]},{"id":"e56db74b.468c48","type":"delay","z":"6ce645dd.347edc","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":820,"wires":[["108e1f3e.726c41"]]},{"id":"b12d775f.e78458","type":"delay","z":"6ce645dd.347edc","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":900,"wires":[["8220a2db.d037d"]]},{"id":"70dce9ab.180548","type":"delay","z":"6ce645dd.347edc","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":980,"wires":[["5477958e.5e4a9c"]]},{"id":"e43bf525.8594d8","type":"delay","z":"6ce645dd.347edc","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":380,"wires":[["5c9d9870.7af2e8"]]},{"id":"1b7a3a44.cc7596","type":"debug","z":"6ce645dd.347edc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":260,"wires":[]}]