NodeRED backups/nodered-backup 2019-5-29.txt
[{"id":"a78fd9f4.e09e98","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"7000b70c.65c038","type":"tab","label":"Doors / Gates","disabled":false,"info":""},{"id":"e11f9667.f332d8","type":"tab","label":"Control Logic","disabled":false,"info":""},{"id":"4367452e.d473ec","type":"tab","label":"Remote App","disabled":false,"info":""},{"id":"2d05ddf0.9f56b2","type":"tab","label":"Panel","disabled":false,"info":""},{"id":"1864834b.15685d","type":"tab","label":"Development","disabled":true,"info":""},{"id":"ecd484cd.d50488","type":"tab","label":"Testing","disabled":false,"info":""},{"id":"3490bfff.d89f4","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"33de1641.e4ef3a","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#4caf50","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#4caf50","edited":true},"page-titlebar-backgroundColor":{"value":"#4caf50","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#80c883","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#4caf50","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"House Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":52,"sy":52,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8a79d31a.e4784","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"ca2e16e7.48f078","type":"ui_group","z":"","name":"Living Room","tab":"8a79d31a.e4784","order":2,"disp":true,"width":"6","collapse":true},{"id":"7dc0e87b.b05a48","type":"ui_tab","z":"","name":"Graphs","icon":"pie_chart","order":3},{"id":"60ada7af.255808","type":"ui_group","z":"","name":"House","tab":"8a79d31a.e4784","order":1,"disp":true,"width":"6","collapse":true},{"id":"1cb42404.9616cc","type":"ui_group","z":"","name":"Dominik's Room","tab":"8a79d31a.e4784","order":3,"disp":true,"width":"6","collapse":true},{"id":"e6a7f735.95ed28","type":"ui_group","z":"","name":"Who is home","tab":"8a79d31a.e4784","order":5,"disp":true,"width":"6","collapse":true},{"id":"a99d7ea7.7403c","type":"ui_group","z":"","name":"Living Room","tab":"7dc0e87b.b05a48","disp":true,"width":"6","collapse":false},{"id":"4c79298.f5b1cd8","type":"ui_group","z":"","name":"Dominik's Room","tab":"7dc0e87b.b05a48","disp":true,"width":"6","collapse":false},{"id":"528dc400.5c64fc","type":"ui_group","z":"","name":"House","tab":"7dc0e87b.b05a48","disp":true,"width":"6","collapse":false},{"id":"94c85185.6f8f6","type":"ui_group","z":"","name":"Dining Room","tab":"8a79d31a.e4784","order":6,"disp":true,"width":"6","collapse":true},{"id":"9e594328.b04d8","type":"ui_group","z":"","name":"Hrvoje","tab":"8a79d31a.e4784","order":4,"disp":true,"width":"6","collapse":false},{"id":"ee2587d3.8a2098","type":"mqtt in","z":"a78fd9f4.e09e98","name":"","topic":"switches/livingroom/1","qos":"0","broker":"3490bfff.d89f4","x":140,"y":160,"wires":[["826b25fe.bc68d8"]]},{"id":"826b25fe.bc68d8","type":"mqtt out","z":"a78fd9f4.e09e98","name":"","topic":"lights/livingroom/1","qos":"0","retain":"true","broker":"3490bfff.d89f4","x":810,"y":160,"wires":[]},{"id":"fd66b322.52e76","type":"ui_switch","z":"a78fd9f4.e09e98","name":"","label":"Light 1","tooltip":"","group":"ca2e16e7.48f078","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":510,"y":220,"wires":[["826b25fe.bc68d8"]]},{"id":"c4aaeb77.89d938","type":"mqtt in","z":"a78fd9f4.e09e98","name":"","topic":"lights/livingroom/1","qos":"0","broker":"3490bfff.d89f4","x":130,"y":220,"wires":[["295a7118.428f8e","fd66b322.52e76"]]},{"id":"ad8a9de.e84676","type":"mqtt in","z":"a78fd9f4.e09e98","name":"","topic":"lights/livingroom/2","qos":"0","broker":"3490bfff.d89f4","x":130,"y":420,"wires":[["9da6857f.69eae8","d3c89eed.a903e"]]},{"id":"9da6857f.69eae8","type":"ui_switch","z":"a78fd9f4.e09e98","name":"","label":"Light 2","tooltip":"","group":"ca2e16e7.48f078","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":510,"y":420,"wires":[["9c607e16.9fd1d"]]},{"id":"9c607e16.9fd1d","type":"mqtt out","z":"a78fd9f4.e09e98","name":"","topic":"lights/livingroom/2","qos":"0","retain":"true","broker":"3490bfff.d89f4","x":810,"y":360,"wires":[]},{"id":"54fe0eab.1cebf","type":"inject","z":"a78fd9f4.e09e98","name":"Lights off at 1am","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"00 01 * * *","once":false,"onceDelay":0.1,"x":550,"y":80,"wires":[["9c607e16.9fd1d","826b25fe.bc68d8"]]},{"id":"8bde8086.f54a4","type":"mqtt in","z":"a78fd9f4.e09e98","name":"","topic":"switches/livingroom/2","qos":"0","broker":"3490bfff.d89f4","x":140,"y":360,"wires":[["9c607e16.9fd1d"]]},{"id":"656df775.34bfd8","type":"mqtt out","z":"7000b70c.65c038","name":"","topic":"lock/door/house","qos":"0","retain":"true","broker":"3490bfff.d89f4","x":1020,"y":200,"wires":[]},{"id":"dd94d066.720cd","type":"mqtt in","z":"7000b70c.65c038","name":"","topic":"switch/door/house","qos":"0","broker":"3490bfff.d89f4","x":130,"y":160,"wires":[["4d70ac.b9a08f54","62232177.d7b97"]]},{"id":"2c88b129.b70c2e","type":"mqtt in","z":"7000b70c.65c038","name":"","topic":"lock/door/house","qos":"2","broker":"3490bfff.d89f4","x":140,"y":260,"wires":[["24bc67ac.1c4058","2ec30e4e.c0f6a2","941fe497.1d1708"]]},{"id":"24bc67ac.1c4058","type":"function","z":"7000b70c.65c038","name":"save state","func":"global.set(\"house_door_state\",msg.payload);\nif(msg.payload==\"lock\")\n    msg.payload=1;\nelse\n    msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":300,"wires":[[]]},{"id":"2ec30e4e.c0f6a2","type":"ui_switch","z":"7000b70c.65c038","name":"","label":"House Door","tooltip":"","group":"60ada7af.255808","order":1,"width":"0","height":"0","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"unlock","onvalueType":"str","onicon":"fa-home","oncolor":"green","offvalue":"lock","offvalueType":"str","officon":"fa-home","offcolor":"red","x":630,"y":260,"wires":[["656df775.34bfd8"]]},{"id":"8c2cdb0d.1b42d8","type":"function","z":"7000b70c.65c038","name":"toggle","func":"var current = global.get(\"house_door_state\") || \"unlock\";\n    if(current==\"lock\")\n        msg.payload=\"unlock\";\n    else\n        msg.payload=\"lock\";\n    \n\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":200,"wires":[["656df775.34bfd8"]]},{"id":"295a7118.428f8e","type":"function","z":"a78fd9f4.e09e98","name":"Save Light 1","func":"global.set(\"light_livingroom_1\",msg.payload);\nif(msg.payload==\"on\")\n    msg.payload=1;\nelse\n    msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":260,"wires":[[]]},{"id":"d3c89eed.a903e","type":"function","z":"a78fd9f4.e09e98","name":"Save Light 2","func":"global.set(\"light_livingroom_2\",msg.payload);\nif(msg.payload==\"on\")\n    msg.payload=1;\nelse\n    msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":460,"wires":[[]]},{"id":"a373f5.631f6c08","type":"mqtt in","z":"a78fd9f4.e09e98","name":"","topic":"panel/dominik/btn/1","qos":"0","broker":"3490bfff.d89f4","x":130,"y":660,"wires":[["5b0c0de3.b4e7e4"]]},{"id":"becd46db.8eb798","type":"mqtt out","z":"a78fd9f4.e09e98","name":"","topic":"lights/dominik/1","qos":"0","retain":"true","broker":"3490bfff.d89f4","x":920,"y":660,"wires":[]},{"id":"bf34ec02.f5d77","type":"function","z":"a78fd9f4.e09e98","name":"Save Light Dominik","func":"global.set(\"light_dominik\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":780,"wires":[[]]},{"id":"b9e6f170.84d","type":"ui_slider","z":"a78fd9f4.e09e98","name":"","label":"Light 1","tooltip":"","group":"1cb42404.9616cc","order":2,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"255","step":1,"x":510,"y":720,"wires":[["becd46db.8eb798"]]},{"id":"136d502c.6b2ee","type":"mqtt in","z":"a78fd9f4.e09e98","name":"","topic":"lights/dominik/1","qos":"0","broker":"3490bfff.d89f4","x":120,"y":760,"wires":[["bf34ec02.f5d77","b9e6f170.84d"]]},{"id":"5b0c0de3.b4e7e4","type":"function","z":"a78fd9f4.e09e98","name":"Toggle","func":"var current=global.get(\"light_dominik\") || 0;\nif(current>0)\n    msg.payload=0;\nelse\n    msg.payload=255;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":660,"wires":[["becd46db.8eb798"]]},{"id":"53733436.d1287c","type":"mqtt in","z":"7000b70c.65c038","name":"","topic":"panel/dominik/btn/3","qos":"0","broker":"3490bfff.d89f4","x":150,"y":520,"wires":[["46e762f9.224f8c","c2d3e8c4.3f8b58"]]},{"id":"69a0d0c4.5639a","type":"function","z":"7000b70c.65c038","name":"save state","func":"global.set(\"gate2_state\",msg.payload);\nif(msg.payload==\"close\")\n    msg.payload=1;\nelse if(msg.payload==\"open\")\n    msg.payload=0;\nelse\n    return null;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":620,"wires":[[]]},{"id":"46e762f9.224f8c","type":"function","z":"7000b70c.65c038","name":"toggle","func":"var current = global.get(\"gate2_state\") || \"open\";\n    if(current==\"close\")\n        msg.payload=\"open\";\n    else\n        msg.payload=\"close\";\n    \n\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":520,"wires":[["172bd0be.4ff98f"]]},{"id":"d279ddfa.aa77","type":"mqtt out","z":"7000b70c.65c038","name":"","topic":"panel/dominik/gate/2","qos":"0","retain":"true","broker":"3490bfff.d89f4","x":960,"y":520,"wires":[]},{"id":"4f33f3b8.0ad99c","type":"ui_switch","z":"7000b70c.65c038","name":"","label":"Car Gate","tooltip":"","group":"60ada7af.255808","order":2,"width":"0","height":"0","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"open","onvalueType":"str","onicon":"fa-window-minimize","oncolor":"green","offvalue":"close","offvalueType":"str","officon":"fa-window-maximize","offcolor":"red","x":560,"y":580,"wires":[["172bd0be.4ff98f"]]},{"id":"fe285ec6.c6541","type":"mqtt in","z":"7000b70c.65c038","name":"","topic":"panel/dominik/gate/2","qos":"0","broker":"3490bfff.d89f4","x":150,"y":580,"wires":[["4f33f3b8.0ad99c","69a0d0c4.5639a","e1d46ee4.62535"]]},{"id":"b88ab613.69fce8","type":"inject","z":"7000b70c.65c038","name":"","topic":"","payload":"force","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":460,"wires":[["d279ddfa.aa77"]]},{"id":"50194a2e.26e9b4","type":"mqtt out","z":"7000b70c.65c038","name":"","topic":"panel/dominik/gate/1","qos":"0","retain":"false","broker":"3490bfff.d89f4","x":820,"y":700,"wires":[]},{"id":"22febb95.b76924","type":"ui_button","z":"7000b70c.65c038","name":"","group":"60ada7af.255808","order":3,"width":0,"height":0,"passthru":false,"label":"Gate 1","tooltip":"","color":"","bgcolor":"","icon":"forward_10","payload":"push","payloadType":"str","topic":"","x":570,"y":740,"wires":[["50194a2e.26e9b4"]]},{"id":"cc49dd7d.8fe19","type":"mqtt in","z":"7000b70c.65c038","name":"","topic":"panel/dominik/btn/2","qos":"0","broker":"3490bfff.d89f4","x":150,"y":700,"wires":[["50194a2e.26e9b4"]]},{"id":"fe006c21.70fad","type":"mqtt in","z":"e11f9667.f332d8","name":"","topic":"panel/dominik/temperature","qos":"0","broker":"3490bfff.d89f4","x":150,"y":220,"wires":[["9e7ab590.4bb138","97c1bc0d.228af"]]},{"id":"30dd5c05.f90b24","type":"http in","z":"4367452e.d473ec","name":"","url":"/remote/command","method":"get","upload":false,"swaggerDoc":"","x":140,"y":300,"wires":[["a143ee2c.9bd67","f0f261fa.4869d"]]},{"id":"87806493.32e738","type":"http response","z":"4367452e.d473ec","name":"Command Response","statusCode":"","headers":{},"x":620,"y":300,"wires":[]},{"id":"a143ee2c.9bd67","type":"function","z":"4367452e.d473ec","name":"return success","func":"msg.payload=\"Success\"\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":300,"wires":[["87806493.32e738"]]},{"id":"acad2715.30d098","type":"mqtt out","z":"4367452e.d473ec","name":"","topic":"lights/dominik/1","qos":"0","retain":"true","broker":"3490bfff.d89f4","x":680,"y":400,"wires":[]},{"id":"f0f261fa.4869d","type":"switch","z":"4367452e.d473ec","name":"","property":"payload.node","propertyType":"msg","rules":[{"t":"eq","v":"light_dominik","vt":"str"},{"t":"eq","v":"light_livingroom_1","vt":"str"},{"t":"eq","v":"light_livingroom_2","vt":"str"},{"t":"eq","v":"gate1","vt":"str"},{"t":"eq","v":"gate2","vt":"str"},{"t":"eq","v":"door_house","vt":"str"},{"t":"eq","v":"tablet_screen","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":310,"y":420,"wires":[["ee7b8b64.5b4ba8"],["b80a614d.4efef"],["3e71f068.d5f2"],["fafd47d8.1ee1c8"],["33557e77.c4f202"],["2f1451dd.fb8dee"],["f389ebc6.1bca48"]]},{"id":"ee7b8b64.5b4ba8","type":"function","z":"4367452e.d473ec","name":"","func":"var pld=msg.payload.action;\nmsg.payload=parseInt(pld);\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":400,"wires":[["acad2715.30d098"]]},{"id":"b80a614d.4efef","type":"function","z":"4367452e.d473ec","name":"","func":"var pld=msg.payload.action;\nmsg.payload=pld;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":440,"wires":[["b271a5c8.4e5838"]]},{"id":"b271a5c8.4e5838","type":"mqtt out","z":"4367452e.d473ec","name":"","topic":"lights/livingroom/1","qos":"0","retain":"true","broker":"3490bfff.d89f4","x":690,"y":440,"wires":[]},{"id":"3e71f068.d5f2","type":"function","z":"4367452e.d473ec","name":"","func":"var pld=msg.payload.action;\nmsg.payload=pld;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":480,"wires":[["28805349.d8016c"]]},{"id":"28805349.d8016c","type":"mqtt out","z":"4367452e.d473ec","name":"","topic":"lights/livingroom/2","qos":"0","retain":"true","broker":"3490bfff.d89f4","x":690,"y":480,"wires":[]},{"id":"fafd47d8.1ee1c8","type":"function","z":"4367452e.d473ec","name":"","func":"var pld=msg.payload.action;\nmsg.payload=pld;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":520,"wires":[["f2d41e41.5ff38"]]},{"id":"f2d41e41.5ff38","type":"mqtt out","z":"4367452e.d473ec","name":"","topic":"panel/dominik/gate/1","qos":"0","retain":"false","broker":"3490bfff.d89f4","x":700,"y":520,"wires":[]},{"id":"33557e77.c4f202","type":"function","z":"4367452e.d473ec","name":"","func":"var pld=msg.payload.action;\nmsg.payload=pld;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":560,"wires":[["3b224e4.53582b2"]]},{"id":"2f1451dd.fb8dee","type":"function","z":"4367452e.d473ec","name":"","func":"var pld=msg.payload.action;\nmsg.payload=pld;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":600,"wires":[["a188f97b.f228f8"]]},{"id":"a188f97b.f228f8","type":"mqtt out","z":"4367452e.d473ec","name":"","topic":"lock/door/house","qos":"0","retain":"true","broker":"3490bfff.d89f4","x":680,"y":600,"wires":[]},{"id":"20ac91a.2a42e6e","type":"http in","z":"4367452e.d473ec","name":"","url":"/remote/status","method":"get","upload":false,"swaggerDoc":"","x":130,"y":100,"wires":[["936fae62.482fd"]]},{"id":"936fae62.482fd","type":"function","z":"4367452e.d473ec","name":"fetch status of all","func":"var status={};\nstatus.light_dominik=global.get(\"light_dominik\")||0;\nstatus.light_livingroom_1=global.get(\"light_livingroom_1\")||\"off\";\nstatus.light_livingroom_2=global.get(\"light_livingroom_2\")||\"off\";\nstatus.house_door_state=global.get(\"house_door_state\")||\"lock\";\nstatus.gate2_state=global.get(\"gate2_state\")||\"close\";\nmsg.payload=status;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":100,"wires":[["daf7c897.4ad728"]]},{"id":"daf7c897.4ad728","type":"http response","z":"4367452e.d473ec","name":"Status Response","statusCode":"","headers":{},"x":610,"y":100,"wires":[]},{"id":"172bd0be.4ff98f","type":"delay","z":"7000b70c.65c038","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":740,"y":520,"wires":[["d279ddfa.aa77"]]},{"id":"74738173.eb8be","type":"link in","z":"7000b70c.65c038","name":"Gate 2","links":["d89a5b74.226ae8","47ede0d2.80fbd","3b224e4.53582b2","87a83a7c.6f9a98","a3e6dd7e.bd416","16490b54.719665","66c9e869.a384e8","ab1a4944.4be438"],"x":595,"y":480,"wires":[["172bd0be.4ff98f"]]},{"id":"2891a298.6af42e","type":"mqtt in","z":"a78fd9f4.e09e98","name":"Light pot","topic":"panel/dominik/pot/6","qos":"0","broker":"3490bfff.d89f4","x":100,"y":600,"wires":[["ea80636c.da5d8","9f7c384a.bdeda8"]]},{"id":"ea80636c.da5d8","type":"function","z":"a78fd9f4.e09e98","name":"Map pot","func":"msg.payload=parseInt((1023-msg.payload)*255/1023);\nif(msg.payload<3)msg.payload=0;\nif(msg.payload>252)msg.payload=255;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":600,"wires":[["becd46db.8eb798"]]},{"id":"b97c32f7.21a84","type":"function","z":"a78fd9f4.e09e98","name":"Map pot","func":"msg.payload=parseInt((1023-msg.payload)*255/1023);\nif(msg.payload<3)msg.payload=0;\nif(msg.payload>252)msg.payload=255;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":860,"wires":[["8b6b43a8.d99f9"]]},{"id":"705e9047.d5718","type":"function","z":"a78fd9f4.e09e98","name":"Map pot","func":"msg.payload=parseInt((1023-msg.payload)*255/1023);\nif(msg.payload<3)msg.payload=0;\nif(msg.payload>252)msg.payload=255;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":960,"wires":[["a0fcdbad.421528"]]},{"id":"5708e13c.fd452","type":"function","z":"a78fd9f4.e09e98","name":"Map pot","func":"msg.payload=parseInt((1023-msg.payload)*255/1023);\nif(msg.payload<3)msg.payload=0;\nif(msg.payload>252)msg.payload=255;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1060,"wires":[["b9d6a324.c886e"]]},{"id":"6cf94097.f14b6","type":"mqtt in","z":"a78fd9f4.e09e98","name":"Red pot","topic":"panel/dominik/pot/3","qos":"0","broker":"3490bfff.d89f4","x":90,"y":860,"wires":[["b97c32f7.21a84"]]},{"id":"a2bfc332.fa3f3","type":"mqtt in","z":"a78fd9f4.e09e98","name":"Green pot","topic":"panel/dominik/pot/4","qos":"0","broker":"3490bfff.d89f4","x":100,"y":960,"wires":[["705e9047.d5718"]]},{"id":"fde62a67.43b768","type":"mqtt in","z":"a78fd9f4.e09e98","name":"Blue pot","topic":"panel/dominik/pot/5","qos":"0","broker":"3490bfff.d89f4","x":100,"y":1060,"wires":[["5708e13c.fd452"]]},{"id":"8b6b43a8.d99f9","type":"mqtt out","z":"a78fd9f4.e09e98","name":"","topic":"panel/dominik/rgb/red","qos":"0","retain":"true","broker":"3490bfff.d89f4","x":840,"y":860,"wires":[]},{"id":"a0fcdbad.421528","type":"mqtt out","z":"a78fd9f4.e09e98","name":"","topic":"panel/dominik/rgb/green","qos":"0","retain":"true","broker":"3490bfff.d89f4","x":850,"y":960,"wires":[]},{"id":"b9d6a324.c886e","type":"mqtt out","z":"a78fd9f4.e09e98","name":"","topic":"panel/dominik/rgb/blue","qos":"0","retain":"true","broker":"3490bfff.d89f4","x":840,"y":1060,"wires":[]},{"id":"b50e0b58.93f0c8","type":"ui_slider","z":"a78fd9f4.e09e98","name":"","label":"RGB Blue","tooltip":"","group":"1cb42404.9616cc","order":5,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"255","step":1,"x":520,"y":1100,"wires":[["b9d6a324.c886e"]]},{"id":"c8393189.fb063","type":"ui_slider","z":"a78fd9f4.e09e98","name":"","label":"RGB Green","tooltip":"","group":"1cb42404.9616cc","order":4,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"255","step":1,"x":530,"y":1000,"wires":[["a0fcdbad.421528"]]},{"id":"36e35c98.71ce74","type":"ui_slider","z":"a78fd9f4.e09e98","name":"","label":"RGB Red","tooltip":"","group":"1cb42404.9616cc","order":3,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":0,"max":"255","step":1,"x":520,"y":900,"wires":[["8b6b43a8.d99f9"]]},{"id":"13e9d331.98f7fd","type":"mqtt in","z":"a78fd9f4.e09e98","name":"","topic":"panel/dominik/rgb/red","qos":"0","broker":"3490bfff.d89f4","x":140,"y":900,"wires":[["36e35c98.71ce74"]]},{"id":"28ff050b.5765ba","type":"mqtt in","z":"a78fd9f4.e09e98","name":"","topic":"panel/dominik/rgb/green","qos":"0","broker":"3490bfff.d89f4","x":140,"y":1000,"wires":[["c8393189.fb063"]]},{"id":"9e73c74b.2ba618","type":"mqtt in","z":"a78fd9f4.e09e98","name":"","topic":"panel/dominik/rgb/blue","qos":"0","broker":"3490bfff.d89f4","x":140,"y":1100,"wires":[["b50e0b58.93f0c8"]]},{"id":"2be1d73b.aeba58","type":"inject","z":"1864834b.15685d","name":"","topic":"","payload":"TEST","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":60,"wires":[["93121e4d.6d97d"]]},{"id":"93121e4d.6d97d","type":"mqtt out","z":"1864834b.15685d","name":"","topic":"panel/dominik/lcd","qos":"0","retain":"false","broker":"3490bfff.d89f4","x":440,"y":60,"wires":[]},{"id":"e10b86b4.0f1ba8","type":"ui_text_input","z":"1864834b.15685d","name":"","label":"","tooltip":"","group":"60ada7af.255808","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":120,"y":120,"wires":[["93121e4d.6d97d"]]},{"id":"3b224e4.53582b2","type":"link out","z":"4367452e.d473ec","name":"Gate 2 REL APP","links":["74738173.eb8be"],"x":615,"y":560,"wires":[]},{"id":"e6910208.6b11","type":"link in","z":"a78fd9f4.e09e98","name":"RGB Red","links":["1ecffd10.6c9ec3","b531ac6e.6c269"],"x":675,"y":840,"wires":[["8b6b43a8.d99f9"]]},{"id":"93d830ee.62f12","type":"link in","z":"a78fd9f4.e09e98","name":"RGB Green","links":["f7a2a1dd.89537","c6a082f2.65e5b"],"x":675,"y":940,"wires":[["a0fcdbad.421528"]]},{"id":"26d0a2a8.0c84de","type":"link in","z":"a78fd9f4.e09e98","name":"RGB Blue","links":["d984c4fa.0a7f18"],"x":675,"y":1040,"wires":[["b9d6a324.c886e"]]},{"id":"2847e33b.76100c","type":"mqtt out","z":"7000b70c.65c038","name":"","topic":"lock/door/dominik","qos":"","retain":"false","broker":"3490bfff.d89f4","x":820,"y":880,"wires":[]},{"id":"4f750c84.751fa4","type":"ui_button","z":"7000b70c.65c038","name":"","group":"1cb42404.9616cc","order":7,"width":"3","height":"1","passthru":false,"label":"Lock Door","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lock","payloadType":"str","topic":"","x":490,"y":940,"wires":[["2847e33b.76100c"]]},{"id":"1ae110fc.8cb87f","type":"ui_button","z":"7000b70c.65c038","name":"","group":"1cb42404.9616cc","order":8,"width":"3","height":"1","passthru":false,"label":"Unlock Door","tooltip":"","color":"","bgcolor":"","icon":"","payload":"unlock","payloadType":"str","topic":"","x":490,"y":980,"wires":[["2847e33b.76100c"]]},{"id":"d386bf0c.518cb","type":"comment","z":"2d05ddf0.9f56b2","name":"Status Lights","info":"","x":130,"y":60,"wires":[]},{"id":"2960c5c0.e4bc9a","type":"mqtt out","z":"2d05ddf0.9f56b2","name":"","topic":"panel/dominik/led/L1","qos":"0","retain":"false","broker":"3490bfff.d89f4","x":840,"y":140,"wires":[]},{"id":"5674f559.cf70dc","type":"mqtt out","z":"2d05ddf0.9f56b2","name":"","topic":"panel/dominik/led/L2","qos":"0","retain":"false","broker":"3490bfff.d89f4","x":840,"y":180,"wires":[]},{"id":"5198ec5d.c82dc4","type":"mqtt out","z":"2d05ddf0.9f56b2","name":"","topic":"panel/dominik/led/L3","qos":"0","retain":"false","broker":"3490bfff.d89f4","x":840,"y":220,"wires":[]},{"id":"a005af50.3365a","type":"mqtt out","z":"2d05ddf0.9f56b2","name":"","topic":"panel/dominik/led/L4","qos":"0","retain":"false","broker":"3490bfff.d89f4","x":840,"y":260,"wires":[]},{"id":"c9ae5fb.03212a","type":"mqtt out","z":"2d05ddf0.9f56b2","name":"","topic":"panel/dominik/led/L5","qos":"0","retain":"false","broker":"3490bfff.d89f4","x":840,"y":300,"wires":[]},{"id":"72e955bd.79a92c","type":"mqtt out","z":"2d05ddf0.9f56b2","name":"","topic":"panel/dominik/led/R1","qos":"0","retain":"false","broker":"3490bfff.d89f4","x":840,"y":380,"wires":[]},{"id":"424bea79.2e7e44","type":"mqtt out","z":"2d05ddf0.9f56b2","name":"","topic":"panel/dominik/led/R2","qos":"0","retain":"false","broker":"3490bfff.d89f4","x":840,"y":420,"wires":[]},{"id":"d11c57c3.acc428","type":"mqtt out","z":"2d05ddf0.9f56b2","name":"","topic":"panel/dominik/led/R3","qos":"0","retain":"false","broker":"3490bfff.d89f4","x":840,"y":460,"wires":[]},{"id":"c5dae2ad.54523","type":"mqtt out","z":"2d05ddf0.9f56b2","name":"","topic":"panel/dominik/led/R4","qos":"0","retain":"false","broker":"3490bfff.d89f4","x":840,"y":500,"wires":[]},{"id":"4e284ab6.8fc2c4","type":"mqtt out","z":"2d05ddf0.9f56b2","name":"","topic":"panel/dominik/led/R5","qos":"0","retain":"false","broker":"3490bfff.d89f4","x":840,"y":540,"wires":[]},{"id":"1ecbbb2b.53e1f5","type":"link in","z":"2d05ddf0.9f56b2","name":"LED L1","links":["7e9d06f.c3fa9f8"],"x":155,"y":140,"wires":[["3e4a921b.8a4e0e"]]},{"id":"807ab7a1.b261d8","type":"link in","z":"2d05ddf0.9f56b2","name":"LED L2","links":["b17b8aae.db1278"],"x":155,"y":180,"wires":[["7404ea9d.55ca14"]]},{"id":"2afc5169.6f28de","type":"link in","z":"2d05ddf0.9f56b2","name":"LED L3","links":[],"x":155,"y":220,"wires":[["532bc433.78074c"]]},{"id":"1c3ee56e.546eeb","type":"link in","z":"2d05ddf0.9f56b2","name":"LED L4","links":[],"x":155,"y":260,"wires":[["5dddf0f6.87bdc"]]},{"id":"9cb12f55.4a4f3","type":"link in","z":"2d05ddf0.9f56b2","name":"LED L5","links":[],"x":155,"y":300,"wires":[["97233334.12de"]]},{"id":"1b926f37.203861","type":"link in","z":"2d05ddf0.9f56b2","name":"LED R1","links":[],"x":155,"y":380,"wires":[["bfeee59e.514318"]]},{"id":"95a15625.6f0a48","type":"link in","z":"2d05ddf0.9f56b2","name":"LED R2","links":[],"x":155,"y":420,"wires":[["ebc0e220.613f2"]]},{"id":"596f6faf.5eb39","type":"link in","z":"2d05ddf0.9f56b2","name":"LED R3","links":[],"x":155,"y":460,"wires":[["2d30f506.c4444a"]]},{"id":"baa2c8ed.1e8b58","type":"link in","z":"2d05ddf0.9f56b2","name":"LED R4","links":[],"x":155,"y":500,"wires":[["370445e4.b15f1a"]]},{"id":"27eeab89.1f0b54","type":"link in","z":"2d05ddf0.9f56b2","name":"LED R5","links":[],"x":155,"y":540,"wires":[["42a823d.38550dc"]]},{"id":"a418a073.0502d","type":"mqtt in","z":"2d05ddf0.9f56b2","name":"","topic":"panel/dominik/sw/1","qos":"0","broker":"3490bfff.d89f4","x":130,"y":840,"wires":[["4408fa5e.ed9494"]]},{"id":"d4fee4ae.3c5e18","type":"function","z":"2d05ddf0.9f56b2","name":"","func":"global.set(\"ENABLE_LEDS\",msg.payload);\nif(msg.payload===\"on\")\n    msg.payload=\"update\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":840,"wires":[["bfeee59e.514318","ebc0e220.613f2","2d30f506.c4444a","370445e4.b15f1a","42a823d.38550dc","3e4a921b.8a4e0e","7404ea9d.55ca14","532bc433.78074c","5dddf0f6.87bdc","97233334.12de"]]},{"id":"bfeee59e.514318","type":"function","z":"2d05ddf0.9f56b2","name":"if enabled","func":"var isEnabled=global.get(\"ENABLE_LEDS\"||\"on\");\nif(isEnabled===\"off\")\n    msg.payload=\"off\";\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":380,"wires":[["72e955bd.79a92c"]]},{"id":"4408fa5e.ed9494","type":"ui_switch","z":"2d05ddf0.9f56b2","name":"","label":"Enable Status LEDs","tooltip":"","group":"1cb42404.9616cc","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":360,"y":840,"wires":[["d4fee4ae.3c5e18"]]},{"id":"ebc0e220.613f2","type":"function","z":"2d05ddf0.9f56b2","name":"if enabled","func":"var isEnabled=global.get(\"ENABLE_LEDS\"||\"on\");\nif(isEnabled===\"off\")\n    msg.payload=\"off\";\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":420,"wires":[["424bea79.2e7e44"]]},{"id":"2d30f506.c4444a","type":"function","z":"2d05ddf0.9f56b2","name":"if enabled","func":"var isEnabled=global.get(\"ENABLE_LEDS\"||\"on\");\nif(isEnabled===\"off\")\n    msg.payload=\"off\";\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":460,"wires":[["d11c57c3.acc428"]]},{"id":"370445e4.b15f1a","type":"function","z":"2d05ddf0.9f56b2","name":"if enabled","func":"var isEnabled=global.get(\"ENABLE_LEDS\"||\"on\");\nif(isEnabled===\"off\")\n    msg.payload=\"off\";\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":500,"wires":[["c5dae2ad.54523"]]},{"id":"42a823d.38550dc","type":"function","z":"2d05ddf0.9f56b2","name":"if enabled","func":"var isEnabled=global.get(\"ENABLE_LEDS\"||\"on\");\nif(isEnabled===\"off\")\n    msg.payload=\"off\";\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":540,"wires":[["4e284ab6.8fc2c4"]]},{"id":"3e4a921b.8a4e0e","type":"function","z":"2d05ddf0.9f56b2","name":"if enabled","func":"var isEnabled=global.get(\"ENABLE_LEDS\"||\"on\");\nif(isEnabled===\"off\")\n    msg.payload=\"off\";\n    \nif(msg.payload==\"update\")\n    msg.payload=(global.get(\"house_door_state\")===\"lock\"?\"on\":\"off\");\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":140,"wires":[["2960c5c0.e4bc9a"]]},{"id":"7404ea9d.55ca14","type":"function","z":"2d05ddf0.9f56b2","name":"if enabled","func":"var isEnabled=global.get(\"ENABLE_LEDS\"||\"on\");\nif(isEnabled===\"off\")\n    msg.payload=\"off\";    \nif(msg.payload==\"update\")\n    msg.payload=(global.get(\"gate2_state\")===\"close\"?\"on\":\"off\");\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":180,"wires":[["5674f559.cf70dc"]]},{"id":"532bc433.78074c","type":"function","z":"2d05ddf0.9f56b2","name":"if enabled","func":"var isEnabled=global.get(\"ENABLE_LEDS\"||\"on\");\nif(isEnabled===\"off\")\n    msg.payload=\"off\";\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":220,"wires":[["5198ec5d.c82dc4"]]},{"id":"5dddf0f6.87bdc","type":"function","z":"2d05ddf0.9f56b2","name":"if enabled","func":"var isEnabled=global.get(\"ENABLE_LEDS\"||\"on\");\nif(isEnabled===\"off\")\n    msg.payload=\"off\";\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":260,"wires":[["a005af50.3365a"]]},{"id":"97233334.12de","type":"function","z":"2d05ddf0.9f56b2","name":"if enabled","func":"var isEnabled=global.get(\"ENABLE_LEDS\"||\"on\");\nif(isEnabled===\"off\")\n    msg.payload=\"off\";\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":300,"wires":[["c9ae5fb.03212a"]]},{"id":"8d01aa90.711678","type":"mqtt in","z":"2d05ddf0.9f56b2","name":"cool btn","topic":"panel/dominik/sw/5","qos":"0","broker":"3490bfff.d89f4","x":90,"y":920,"wires":[["7bd4cec4.70dfc"]]},{"id":"7bd4cec4.70dfc","type":"function","z":"2d05ddf0.9f56b2","name":"only if light is off/dim","func":"var lightDominik=global.get(\"light_dominik\")||0;\nif(lightDominik>10)\n    return null;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":920,"wires":[["a493dea4.e8ef5"]]},{"id":"a493dea4.e8ef5","type":"mqtt out","z":"2d05ddf0.9f56b2","name":"","topic":"panel/dominik/coolkick","qos":"0","retain":"false","broker":"3490bfff.d89f4","x":630,"y":920,"wires":[]},{"id":"941fe497.1d1708","type":"function","z":"7000b70c.65c038","name":"to onoff","func":"if(msg.payload===\"lock\")\n    msg.payload=\"on\";\nelse\n    msg.payload=\"off\";\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":300,"wires":[["7e9d06f.c3fa9f8"]]},{"id":"7e9d06f.c3fa9f8","type":"link out","z":"7000b70c.65c038","name":"House Door","links":["1ecbbb2b.53e1f5"],"x":735,"y":300,"wires":[]},{"id":"e1d46ee4.62535","type":"function","z":"7000b70c.65c038","name":"to onoff","func":"if(msg.payload===\"close\")\n    msg.payload=\"on\";\nelse if(msg.payload==\"open\")\n    msg.payload=\"off\";\nelse\n    return null;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":560,"wires":[["b17b8aae.db1278"]]},{"id":"b17b8aae.db1278","type":"link out","z":"7000b70c.65c038","name":"Gate 2","links":["807ab7a1.b261d8"],"x":455,"y":560,"wires":[]},{"id":"bec025dd.2113a8","type":"mqtt in","z":"7000b70c.65c038","name":"","topic":"panel/dominik/sw/3","qos":"0","broker":"3490bfff.d89f4","x":180,"y":880,"wires":[["6310e2d9.f383cc"]]},{"id":"6310e2d9.f383cc","type":"function","z":"7000b70c.65c038","name":"","func":"if(msg.payload===\"on\")\n    msg.payload=\"lock\";\nelse\n    msg.payload=\"unlock\";\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":880,"wires":[["2847e33b.76100c"]]},{"id":"739eab5d.2866a4","type":"link out","z":"4367452e.d473ec","name":"APP Tablet Screen","links":["95dc0c33.4a932","c0e77c55.c7da4"],"x":615,"y":640,"wires":[]},{"id":"f389ebc6.1bca48","type":"function","z":"4367452e.d473ec","name":"","func":"var pld=msg.payload.action;\nmsg.payload=pld;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":640,"wires":[["739eab5d.2866a4"]]},{"id":"8c637e19.5c99e","type":"inject","z":"7000b70c.65c038","name":"Lock at midnight","topic":"","payload":"lock","payloadType":"str","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":730,"y":80,"wires":[["656df775.34bfd8"]]},{"id":"d9f2d34c.56ffb","type":"inject","z":"7000b70c.65c038","name":"Close at midnight","topic":"","payload":"close","payloadType":"str","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":530,"y":440,"wires":[["172bd0be.4ff98f"]]},{"id":"4d70ac.b9a08f54","type":"debug","z":"7000b70c.65c038","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":60,"wires":[]},{"id":"62232177.d7b97","type":"switch","z":"7000b70c.65c038","name":"Button select","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"bell","vt":"str"},{"t":"eq","v":"panel","vt":"str"},{"t":"eq","v":"button","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":330,"y":200,"wires":[["fe66732.467b29"],["8c2cdb0d.1b42d8"],["8c2cdb0d.1b42d8"]]},{"id":"ccdca15d.98a6b","type":"mqtt in","z":"2d05ddf0.9f56b2","name":"","topic":"panel/dominik/sw/4","qos":"0","broker":"3490bfff.d89f4","x":130,"y":1020,"wires":[["5669eb87.290034"]]},{"id":"28fdf50c.db46da","type":"link in","z":"7000b70c.65c038","name":"House Door","links":["c124f7c9.686a68"],"x":795,"y":160,"wires":[["656df775.34bfd8"]]},{"id":"c124f7c9.686a68","type":"link out","z":"2d05ddf0.9f56b2","name":"Panel House Door BTN","links":["28fdf50c.db46da"],"x":680,"y":1020,"wires":[]},{"id":"5669eb87.290034","type":"function","z":"2d05ddf0.9f56b2","name":"","func":"msg.payload=(msg.payload==\"on\")?\"lock\":\"unlock\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1020,"wires":[["c124f7c9.686a68","709f21a5.7fb9e"]]},{"id":"fe66732.467b29","type":"link out","z":"7000b70c.65c038","name":"House Door BELL","links":[],"x":435,"y":120,"wires":[]},{"id":"9e7ab590.4bb138","type":"ui_gauge","z":"e11f9667.f332d8","name":"Dominik room temperature","group":"1cb42404.9616cc","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440,"y":160,"wires":[]},{"id":"97c1bc0d.228af","type":"ui_chart","z":"e11f9667.f332d8","name":"","group":"4c79298.f5b1cd8","order":2,"width":0,"height":0,"label":"Temperature - Dominik","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"---waiting---","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":420,"y":220,"wires":[[],[]]},{"id":"6b80670c.b772b8","type":"ui_colour_picker","z":"1864834b.15685d","name":"","label":"","group":"1cb42404.9616cc","format":"rgb","outformat":"string","showSwatch":false,"showPicker":true,"showValue":false,"showHue":true,"showAlpha":false,"showLightness":true,"dynOutput":"false","order":6,"width":"0","height":"0","passthru":true,"topic":"","x":150,"y":340,"wires":[["13b27ead.585401"]]},{"id":"13b27ead.585401","type":"function","z":"1864834b.15685d","name":"extract rgb","func":"// pull the r, g, b string values out\nvar rgb = msg.payload.match(/(\\d+)/gi);\n\n// convert each value to a percentage\nvar pwm = rgb.map(h => Math.round(100*h/255));\n\n// return an object with named properties\nmsg.payload = {\n    r: pwm[0],\n    g: pwm[1],\n    b: pwm[2]\n}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":420,"wires":[["91933fd3.b0a19","a87325d.40dffd8","63d61560.7fb18c"]]},{"id":"91933fd3.b0a19","type":"change","z":"1864834b.15685d","name":"red","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.r","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":400,"wires":[["b531ac6e.6c269"]]},{"id":"b531ac6e.6c269","type":"link out","z":"1864834b.15685d","name":"Color Picker Red","links":["e6910208.6b11"],"x":690,"y":400,"wires":[]},{"id":"a87325d.40dffd8","type":"change","z":"1864834b.15685d","name":"green","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.g","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":440,"wires":[["c6a082f2.65e5b"]]},{"id":"c6a082f2.65e5b","type":"link out","z":"1864834b.15685d","name":"Color Picker Green","links":["93d830ee.62f12"],"x":690,"y":440,"wires":[]},{"id":"63d61560.7fb18c","type":"change","z":"1864834b.15685d","name":"blue","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.r","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":480,"wires":[["d984c4fa.0a7f18"]]},{"id":"d984c4fa.0a7f18","type":"link out","z":"1864834b.15685d","name":"Color Picker Blue","links":["26d0a2a8.0c84de"],"x":690,"y":480,"wires":[]},{"id":"9f7c384a.bdeda8","type":"debug","z":"a78fd9f4.e09e98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":540,"wires":[]},{"id":"b50b17e8.3284f8","type":"comment","z":"2d05ddf0.9f56b2","name":"Panel SW4 house door lock","info":"","x":160,"y":980,"wires":[]},{"id":"1b5e0a63.3703a6","type":"comment","z":"7000b70c.65c038","name":"SW3 Room Door Lock","info":"","x":180,"y":840,"wires":[]},{"id":"f1b9943.8e8c368","type":"mqtt in","z":"2d05ddf0.9f56b2","name":"","topic":"panel/dominik/btn/bell","qos":"0","broker":"3490bfff.d89f4","x":220,"y":1240,"wires":[["c05a7558.25c618"]]},{"id":"a10c496a.f29488","type":"mqtt out","z":"2d05ddf0.9f56b2","name":"","topic":"panel/dominik/bell","qos":"","retain":"","broker":"3490bfff.d89f4","x":730,"y":1240,"wires":[]},{"id":"cad8f46.6763008","type":"ui_toast","z":"2d05ddf0.9f56b2","position":"top right","displayTime":"10","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Bell Notification","x":720,"y":1200,"wires":[]},{"id":"b5b74630.77f648","type":"comment","z":"2d05ddf0.9f56b2","name":"OUTSIDE BELL","info":"","x":120,"y":1160,"wires":[]},{"id":"de1e16ce.2ae818","type":"link in","z":"2d05ddf0.9f56b2","name":"bell link","links":[],"x":294,"y":1199,"wires":[["c05a7558.25c618"]]},{"id":"c05a7558.25c618","type":"function","z":"2d05ddf0.9f56b2","name":"","func":"msg.topic=(msg.topic==\"panel/dominik/btn/bell\")?\"GATE BELL\":\"HOUSE DOOR BELL\";\nmsg.payload=\"Someone's at the door!\";\nif(global.get(\"ENABLE_OUTSIDE_BELL\",true) == false)\n    return null;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1240,"wires":[["cad8f46.6763008","dfe21383.6d1c","a10c496a.f29488"]]},{"id":"dfe21383.6d1c","type":"debug","z":"2d05ddf0.9f56b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":1320,"wires":[]},{"id":"f5dd0bd4.d4e8c8","type":"ui_switch","z":"2d05ddf0.9f56b2","name":"","label":"Enable Outside Bell","tooltip":"","group":"60ada7af.255808","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":290,"y":1320,"wires":[["72a7acb1.be9bd4"]]},{"id":"72a7acb1.be9bd4","type":"function","z":"2d05ddf0.9f56b2","name":"","func":"global.set(\"ENABLE_OUTSIDE_BELL\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1320,"wires":[[]]},{"id":"3d8d6376.b181fc","type":"function","z":"1864834b.15685d","name":"to onoff","func":"if(msg.payload===\"away\")\n    msg.payload=\"off\";\nelse\n    msg.payload=\"on\";\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":1460,"wires":[["df456aac.97ac08"]]},{"id":"b4f335f7.fec818","type":"function","z":"1864834b.15685d","name":"Change/Save","func":"var lastState=global.get(\"PING_HRVOJE_LAST\")||\"away\";\n\nif(msg.payload===\"update\"){\n    msg.color=(lastState==\"away\")?\"red\":\"green\";  \n    msg.payload=lastState;\n    return msg;\n}\n\nvar currentState=(msg.payload===false)?\"away\":\"home\";\nglobal.set(\"PING_HRVOJE_LAST\",currentState);\nif(lastState==currentState)\n    return null;\n\nmsg.color=(currentState==\"away\")?\"red\":\"green\";      \nmsg.payload=currentState;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1380,"wires":[["7727e8b8.ba8928","46b07.b315f4f94","3d8d6376.b181fc"]]},{"id":"df456aac.97ac08","type":"link out","z":"1864834b.15685d","name":"Hrvoje Home","links":[],"x":635,"y":1460,"wires":[]},{"id":"f47a4f3f.a3d0c","type":"ping","z":"1864834b.15685d","name":"PING Hrvoje","host":"192.168.1.105","timer":"60","x":130,"y":1380,"wires":[["b4f335f7.fec818"]]},{"id":"7727e8b8.ba8928","type":"ui_text","z":"1864834b.15685d","group":"e6a7f735.95ed28","order":5,"width":0,"height":0,"name":"","label":"Hrvoje","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","x":510,"y":1420,"wires":[]},{"id":"46b07.b315f4f94","type":"delay","z":"1864834b.15685d","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":1380,"wires":[["d86dd27d.b4d49"]]},{"id":"e6af6b23.32f6a8","type":"inject","z":"1864834b.15685d","name":"Manual update","topic":"","payload":"update","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":920,"wires":[["3a5f6c0a.013494","61bcd107.ba7ff","fa112743.eb5e18","4dc59dad.828664","b4f335f7.fec818"]]},{"id":"d86dd27d.b4d49","type":"switch","z":"1864834b.15685d","name":"is home?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"away","vt":"str"},{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":1380,"wires":[["f290c68a.95be68"],[]]},{"id":"3a5f6c0a.013494","type":"function","z":"1864834b.15685d","name":"Change/Save","func":"var lastState=global.get(\"PING_IGOR_LAST\")||\"away\";\n\nif(msg.payload===\"update\"){\n    msg.payload=lastState;\n    msg.color=(lastState==\"away\")?\"red\":\"green\";  \n    return msg;\n}\n    \nvar currentState=(msg.payload===false)?\"away\":\"home\";\nglobal.set(\"PING_IGOR_LAST\",currentState);\nif(lastState==currentState)\n    return null;\n    \nmsg.color=(currentState==\"away\")?\"red\":\"green\";  \nmsg.payload=currentState;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1020,"wires":[["bd878403.405278","985b2ad7.d1f2a8","c8fa55da.84d928"]]},{"id":"61bcd107.ba7ff","type":"function","z":"1864834b.15685d","name":"Change/Save","func":"var lastState=global.get(\"PING_DOMINIK_LAST\")||\"away\";\n\nif(msg.payload===\"update\"){\n    msg.payload=lastState;\n    msg.color=(lastState==\"away\")?\"red\":\"green\";\n    return msg;\n}\n\nvar currentState=(msg.payload===false)?\"away\":\"home\";\nglobal.set(\"PING_DOMINIK_LAST\",currentState);\nif(lastState==currentState)\n    return null;\n    \nmsg.color=(currentState==\"away\")?\"red\":\"green\";   \nmsg.payload=currentState;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":620,"wires":[["715ccac2.cf5f34","c5c986d8.61da68","27af3127.4c9f4e"]]},{"id":"fa112743.eb5e18","type":"function","z":"1864834b.15685d","name":"Change/Save","func":"var lastState=global.get(\"PING_KRISTINA_LAST\")||\"away\";\n\nif(msg.payload===\"update\"){\n    msg.color=(lastState==\"away\")?\"red\":\"green\";  \n    msg.payload=lastState;\n    return msg;\n}\n\nvar currentState=(msg.payload===false)?\"away\":\"home\";\nglobal.set(\"PING_KRISTINA_LAST\",currentState);\nif(lastState==currentState)\n    return null;\nmsg.color=(currentState==\"away\")?\"red\":\"green\";     \nmsg.payload=currentState;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1140,"wires":[["1adb44d5.43fa9b","62a7898.4e51578","4797a4b7.85956c"]]},{"id":"4dc59dad.828664","type":"function","z":"1864834b.15685d","name":"Change/Save","func":"var lastState=global.get(\"PING_MARKO_LAST\")||\"away\";\n\nif(msg.payload===\"update\"){\n    msg.color=(lastState==\"away\")?\"red\":\"green\";  \n    msg.payload=lastState;\n    return msg;\n}\n\nvar currentState=(msg.payload===false)?\"away\":\"home\";\nglobal.set(\"PING_MARKO_LAST\",currentState);\nif(lastState==currentState)\n    return null;\n    \nmsg.color=(currentState==\"away\")?\"red\":\"green\";  \nmsg.payload=currentState;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1260,"wires":[["6d14a26e.38d25c","7b8e9a16.1c2254","a46ac166.3d79d"]]},{"id":"f290c68a.95be68","type":"function","z":"1864834b.15685d","name":"Everyone Away","func":"if((global.get(\"PING_IGOR_LAST\")||\"home\")==\"away\"&&(global.get(\"PING_KRISTINA_LAST\")||\"home\")==\"away\"&&(global.get(\"PING_DOMINIK_LAST\")||\"home\")==\"away\"&&(global.get(\"PING_MARKO_LAST\")|\"home\")==\"away\"&&(global.get(\"PING_HRVOJE_LAST\")||\"home\")==\"away\"){\n    return msg;\n} else{\n    return null;\n}\n\n","outputs":1,"noerr":0,"x":1040,"y":1200,"wires":[["e8c4ac6e.586cd","aa16edcd.c7366"]]},{"id":"4e69f1e3.2b80b","type":"ping","z":"1864834b.15685d","name":"PING Igor","host":"192.168.1.101","timer":"60","x":120,"y":1020,"wires":[["3a5f6c0a.013494"]]},{"id":"bd878403.405278","type":"ui_text","z":"1864834b.15685d","group":"e6a7f735.95ed28","order":2,"width":0,"height":0,"name":"","label":"Igor","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","x":510,"y":1060,"wires":[]},{"id":"985b2ad7.d1f2a8","type":"delay","z":"1864834b.15685d","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":1020,"wires":[["c9883b16.eb2fa8"]]},{"id":"c8fa55da.84d928","type":"function","z":"1864834b.15685d","name":"to onoff","func":"if(msg.payload===\"away\")\n    msg.payload=\"off\";\nelse\n    msg.payload=\"on\";\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":1100,"wires":[["48b59146.5beef"]]},{"id":"d886c910.76b628","type":"ping","z":"1864834b.15685d","name":"PING Dominik","host":"192.168.1.103","timer":"60","x":110,"y":620,"wires":[["61bcd107.ba7ff"]]},{"id":"715ccac2.cf5f34","type":"ui_text","z":"1864834b.15685d","group":"e6a7f735.95ed28","order":1,"width":0,"height":0,"name":"","label":"Dominik","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","x":520,"y":600,"wires":[]},{"id":"c5c986d8.61da68","type":"delay","z":"1864834b.15685d","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":660,"wires":[["2049aee6.93f362"]]},{"id":"27af3127.4c9f4e","type":"function","z":"1864834b.15685d","name":"to onoff","func":"if(msg.payload===\"away\")\n    msg.payload=\"off\";\nelse\n    msg.payload=\"on\";\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":560,"wires":[["c863c741.773558"]]},{"id":"575b276b.246828","type":"ping","z":"1864834b.15685d","name":"PING Kristina","host":"192.168.1.102","timer":"60","x":130,"y":1140,"wires":[["fa112743.eb5e18"]]},{"id":"1adb44d5.43fa9b","type":"ui_text","z":"1864834b.15685d","group":"e6a7f735.95ed28","order":3,"width":0,"height":0,"name":"","label":"Kristina","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","x":520,"y":1180,"wires":[]},{"id":"62a7898.4e51578","type":"delay","z":"1864834b.15685d","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":1140,"wires":[["35e954ad.b97dbc"]]},{"id":"4797a4b7.85956c","type":"function","z":"1864834b.15685d","name":"to onoff","func":"if(msg.payload===\"away\")\n    msg.payload=\"off\";\nelse\n    msg.payload=\"on\";\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":1220,"wires":[["23941798.588008"]]},{"id":"1c51d8bc.bbf6c7","type":"ping","z":"1864834b.15685d","name":"PING Marko","host":"192.168.1.104","timer":"60","x":130,"y":1260,"wires":[["4dc59dad.828664"]]},{"id":"6d14a26e.38d25c","type":"ui_text","z":"1864834b.15685d","group":"e6a7f735.95ed28","order":4,"width":0,"height":0,"name":"","label":"Marko","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","x":510,"y":1300,"wires":[]},{"id":"7b8e9a16.1c2254","type":"delay","z":"1864834b.15685d","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":1260,"wires":[["be56b284.b0ef5"]]},{"id":"a46ac166.3d79d","type":"function","z":"1864834b.15685d","name":"to onoff","func":"if(msg.payload===\"away\")\n    msg.payload=\"off\";\nelse\n    msg.payload=\"on\";\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":1340,"wires":[["ef55a809.54c4a8"]]},{"id":"e8c4ac6e.586cd","type":"link out","z":"1864834b.15685d","name":"Everyone Left","links":["36cc76b9.89180a","aa65bf85.3dff"],"x":1255,"y":1200,"wires":[]},{"id":"aa16edcd.c7366","type":"debug","z":"1864834b.15685d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1310,"y":1260,"wires":[]},{"id":"c9883b16.eb2fa8","type":"switch","z":"1864834b.15685d","name":"is home?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"away","vt":"str"},{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":1020,"wires":[["f290c68a.95be68"],[]]},{"id":"35e954ad.b97dbc","type":"switch","z":"1864834b.15685d","name":"is home?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"away","vt":"str"},{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":1140,"wires":[["f290c68a.95be68"],[]]},{"id":"be56b284.b0ef5","type":"switch","z":"1864834b.15685d","name":"is home?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"away","vt":"str"},{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":1260,"wires":[["f290c68a.95be68"],[]]},{"id":"48b59146.5beef","type":"link out","z":"1864834b.15685d","name":"Igor Home","links":[],"x":635,"y":1100,"wires":[]},{"id":"2049aee6.93f362","type":"switch","z":"1864834b.15685d","name":"is home?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"away","vt":"str"},{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":720,"wires":[["928d5abd.067998"],["6147b639.ddacc8","a54c44ad.685758"]]},{"id":"c863c741.773558","type":"link out","z":"1864834b.15685d","name":"Dominik Home","links":[],"x":635,"y":560,"wires":[]},{"id":"23941798.588008","type":"link out","z":"1864834b.15685d","name":"Kristina Home","links":[],"x":635,"y":1220,"wires":[]},{"id":"ef55a809.54c4a8","type":"link out","z":"1864834b.15685d","name":"Marko Home","links":[],"x":635,"y":1340,"wires":[]},{"id":"928d5abd.067998","type":"function","z":"1864834b.15685d","name":"off(0)","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":700,"wires":[["f47dd97.8952728"]]},{"id":"6147b639.ddacc8","type":"function","z":"1864834b.15685d","name":"unlock","func":"global.set(\"HOUSE_DOOR_STATE_LAST\",global.get(\"house_door_state\"));\nmsg.payload=\"unlock\";\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":780,"wires":[["a429e41c.a02658"]]},{"id":"a54c44ad.685758","type":"function","z":"1864834b.15685d","name":"open","func":"msg.payload=\"open\";\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":740,"wires":[["fb2670a0.9512f"]]},{"id":"f47dd97.8952728","type":"mqtt out","z":"1864834b.15685d","name":"","topic":"lights/dominik/1","qos":"0","retain":"true","broker":"3490bfff.d89f4","x":1000,"y":700,"wires":[]},{"id":"a429e41c.a02658","type":"delay","z":"1864834b.15685d","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000,"y":780,"wires":[["252340f5.34d4a","39f507d0.a6bc18"]]},{"id":"fb2670a0.9512f","type":"delay","z":"1864834b.15685d","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000,"y":740,"wires":[["a3e6dd7e.bd416"]]},{"id":"252340f5.34d4a","type":"debug","z":"1864834b.15685d","name":"unlock debuck","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1440,"y":780,"wires":[]},{"id":"39f507d0.a6bc18","type":"delay","z":"1864834b.15685d","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":800,"wires":[["cbf764a3.fdeef8"]]},{"id":"a3e6dd7e.bd416","type":"link out","z":"1864834b.15685d","name":"Gate 2 REL1","links":["74738173.eb8be"],"x":1175,"y":740,"wires":[]},{"id":"cbf764a3.fdeef8","type":"function","z":"1864834b.15685d","name":"relock","func":"msg.payload=global.get(\"HOUSE_DOOR_STATE_LAST\");\nif(msg.payload==\"unlock\")\n    return null;\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":800,"wires":[["252340f5.34d4a"]]},{"id":"aa65bf85.3dff","type":"link in","z":"1864834b.15685d","name":"Everyone Left","links":["c747912b.59ec9","e8c4ac6e.586cd"],"x":195,"y":1640,"wires":[["4a1bec57.c7f334"]]},{"id":"4a1bec57.c7f334","type":"delay","z":"1864834b.15685d","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":310,"y":1640,"wires":[["5b5404a2.26c69c"]]},{"id":"efc6141f.80a9a8","type":"function","z":"1864834b.15685d","name":"lock","func":"msg.payload=\"lock\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1600,"wires":[["3b3dbf3e.84ed8"]]},{"id":"3b3dbf3e.84ed8","type":"mqtt out","z":"1864834b.15685d","name":"","topic":"lock/door/house","qos":"0","retain":"true","broker":"3490bfff.d89f4","x":880,"y":1600,"wires":[]},{"id":"9cd58090.bfae","type":"mqtt out","z":"1864834b.15685d","name":"","topic":"lights/dominik/1","qos":"0","retain":"true","broker":"3490bfff.d89f4","x":880,"y":1640,"wires":[]},{"id":"72fe57aa.b97948","type":"function","z":"1864834b.15685d","name":"off","func":"msg.payload=\"off\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1680,"wires":[["e4519c15.1026a","c7ca80a3.02366"]]},{"id":"e4519c15.1026a","type":"mqtt out","z":"1864834b.15685d","name":"","topic":"lights/livingroom/1","qos":"0","retain":"true","broker":"3490bfff.d89f4","x":890,"y":1680,"wires":[]},{"id":"c7ca80a3.02366","type":"mqtt out","z":"1864834b.15685d","name":"","topic":"lights/livingroom/2","qos":"0","retain":"true","broker":"3490bfff.d89f4","x":890,"y":1720,"wires":[]},{"id":"ef4bb399.b231f","type":"function","z":"1864834b.15685d","name":"off(0)","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1640,"wires":[["9cd58090.bfae"]]},{"id":"e4debf98.da52f","type":"function","z":"1864834b.15685d","name":"close","func":"msg.payload=\"close\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1760,"wires":[["16490b54.719665"]]},{"id":"5b5404a2.26c69c","type":"function","z":"1864834b.15685d","name":"Everyone Still Away","func":"if((global.get(\"PING_IGOR_LAST\")||\"home\")==\"away\"&&(global.get(\"PING_KRISTINA_LAST\")||\"home\")==\"away\"&&(global.get(\"PING_DOMINIK_LAST\")||\"home\")==\"away\"&&(global.get(\"PING_MARKO_LAST\")|\"home\")==\"away\"&&(global.get(\"PING_HRVOJE_LAST\")||\"home\")==\"away\"){\n    return msg;\n} else{\n    return null;\n}\n\n","outputs":1,"noerr":0,"x":490,"y":1640,"wires":[["efc6141f.80a9a8","ef4bb399.b231f","72fe57aa.b97948","e4debf98.da52f"]]},{"id":"16490b54.719665","type":"link out","z":"1864834b.15685d","name":"Gate 2 REL2","links":["74738173.eb8be"],"x":860,"y":1760,"wires":[]},{"id":"d030a7b6.6f5eb8","type":"link in","z":"7000b70c.65c038","name":"GATE 2 FORCE","links":["a155a0cc.695e9","d039091d.24df88"],"x":760,"y":420,"wires":[["d279ddfa.aa77"]]},{"id":"4c3de279.24641c","type":"comment","z":"2d05ddf0.9f56b2","name":"Panel LCD","info":"","x":100,"y":1460,"wires":[]},{"id":"77a897d7.d38f78","type":"mqtt out","z":"2d05ddf0.9f56b2","name":"","topic":"panel/dominik/lcd","qos":"0","retain":"true","broker":"3490bfff.d89f4","x":690,"y":1700,"wires":[]},{"id":"f1e42994.f09fa8","type":"mqtt in","z":"2d05ddf0.9f56b2","name":"","topic":"panel/dominik/btn/re","qos":"0","broker":"3490bfff.d89f4","x":130,"y":1540,"wires":[["d2e00e50.cfe9a"]]},{"id":"7612b3e1.468abc","type":"mqtt in","z":"2d05ddf0.9f56b2","name":"","topic":"panel/dominik/re","qos":"0","broker":"3490bfff.d89f4","x":120,"y":1700,"wires":[["8ca3a417.1e5758"]]},{"id":"8ca3a417.1e5758","type":"function","z":"2d05ddf0.9f56b2","name":"Change Mode","func":"const MODES = 5 - 1;\nvar currentMode = global.get(\"LCD_MODE\")||0;\nif(msg.payload==1)\n    currentMode++;\n\nelse if(msg.payload==-1)\n    currentMode--;\n    \nif(currentMode>MODES)\n    currentMode=MODES;\nif(currentMode<0)\n    currentMode=0;\n    \nglobal.set(\"LCD_MODE\",currentMode);\n\nswitch(currentMode){\n    case 0:\n        msg.payload = \"Not implemented Option 0         \";\n        break;\n    case 1:\n        msg.payload = \"Not implemented Option 1         \";\n        break;\n    case 2:\n        msg.payload = \"Not implemented Option 2         \";\n        break;\n    case 3:\n        msg.payload = \"Not implemented Option 3         \";\n        break;\n        \n    case 4:\n        msg.payload = \"Force Car Gate                  \";\n        break;\n    \n    default:\n        msg.payload=\"Not implemented                \";\n        break;\n    \n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1700,"wires":[["77a897d7.d38f78"]]},{"id":"d2e00e50.cfe9a","type":"function","z":"2d05ddf0.9f56b2","name":"Mode Switch","func":"var currentMode=global.get(\"LCD_MODE\")||0;\n\nswitch(currentMode){\n    case 0:\n        \n        break;\n    \n    case 1:\n        \n        break;\n        \n    case 2:\n        \n        break;\n        \n    case 3:\n        \n        break;\n        \n    case 4:\n        msg.payload=\"force\";\n        return [null,null,null,null,msg];\n        break;\n        \n    default:\n    \n        break;\n}\n\n\nreturn [null,null,null,null,null];","outputs":5,"noerr":0,"x":410,"y":1540,"wires":[[],[],[],[],["d039091d.24df88"]]},{"id":"d039091d.24df88","type":"link out","z":"2d05ddf0.9f56b2","name":"LCD MODE 5","links":["d030a7b6.6f5eb8"],"x":555,"y":1580,"wires":[]},{"id":"baf92ed2.ec7fc","type":"mosca in","z":"e11f9667.f332d8","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"dominik","password":"dominik325","dburl":"","x":130,"y":40,"wires":[[]]},{"id":"91c3cae5.6b0ab8","type":"mqtt out","z":"a78fd9f4.e09e98","name":"","topic":"lights/hrvoje/1","qos":"0","retain":"true","broker":"3490bfff.d89f4","x":800,"y":1280,"wires":[]},{"id":"b98f30ad.b8ba2","type":"mqtt in","z":"a78fd9f4.e09e98","name":"","topic":"lights/hrvoje/1","qos":"0","broker":"3490bfff.d89f4","x":110,"y":1340,"wires":[["c7015bde.d469d8","fa6e6f09.c607a"]]},{"id":"c7015bde.d469d8","type":"function","z":"a78fd9f4.e09e98","name":"Save Light 1","func":"global.set(\"light_hrvoje_1\",msg.payload);\nif(msg.payload==\"on\")\n    msg.payload=1;\nelse\n    msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1380,"wires":[[]]},{"id":"fa6e6f09.c607a","type":"ui_switch","z":"a78fd9f4.e09e98","name":"","label":"Light 1","tooltip":"","group":"9e594328.b04d8","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":510,"y":1340,"wires":[["91c3cae5.6b0ab8"]]},{"id":"618dfeba.641bc","type":"mqtt in","z":"a78fd9f4.e09e98","name":"","topic":"switches/hrvoje/1","qos":"0","broker":"3490bfff.d89f4","x":120,"y":1280,"wires":[["91c3cae5.6b0ab8","62dfd324.0f4a4c"]]},{"id":"cceaeff8.775cd","type":"link in","z":"a78fd9f4.e09e98","name":"Lights Off ","links":[],"x":375,"y":120,"wires":[["7e8c8e14.924cc"]]},{"id":"7e8c8e14.924cc","type":"change","z":"a78fd9f4.e09e98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":120,"wires":[["826b25fe.bc68d8","9c607e16.9fd1d","ebfb7416.84bfc8","91c3cae5.6b0ab8"]]},{"id":"ebfb7416.84bfc8","type":"change","z":"a78fd9f4.e09e98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":600,"wires":[["becd46db.8eb798"]]},{"id":"62dfd324.0f4a4c","type":"debug","z":"a78fd9f4.e09e98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":360,"y":1220,"wires":[]},{"id":"c2d3e8c4.3f8b58","type":"debug","z":"7000b70c.65c038","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":420,"wires":[]},{"id":"709f21a5.7fb9e","type":"debug","z":"2d05ddf0.9f56b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":980,"wires":[]}]